<div class="row">
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header fs-15">
                <fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Sales</div>
            <div class="card-body">
                <sb-charts-area></sb-charts-area>
            </div>
        </sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header fs-15">
                <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Expenses</div>
            <div class="card-body">
                <sb-charts-bar></sb-charts-bar>
            </div>
        </sb-card>
    </div>
</div>
