<div class="row">
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header fs-15"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Top Repeat Customers
            </div>
            <div class="card-body">
                <!-- <sb-ng-bootstrap-table [pageSize]="4"></sb-ng-bootstrap-table> -->
                <form>
                    <div class="form-group form-inline">Full text search: <input class="form-control ml-2" type="text"
                            name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3"
                            *ngIf="countryService.loading$ | async">Loading...</span></div>
                    <table class="table table-striped table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" sbSortable="area">Name</th>
                                <th scope="col" sbSortable="population">Phone number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kajal Patel</td>
                                <td>+91 9874563210</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Ravi Verma</td>
                                <td>+91 8974563210</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Rohit Sharma</td>
                                <td>+91 7412859630</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Preeti Parmar</td>
                                <td>+91 6231458790</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2 flex-flow">
                        <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page"
                            [pageSize]="countryService.pageSize"></ngb-pagination><select class="custom-select"
                            style="width: auto" name="pageSize" [(ngModel)]="countryService.pageSize">
                            <option [ngValue]="2">2 items per page</option>
                            <option [ngValue]="4">4 items per page</option>
                            <option [ngValue]="6">6 items per page</option>
                        </select>
                    </div>
                </form>
            </div>
        </sb-card>
    </div>

    <div class="col-xl-6">
        <sb-card>
            <div class="card-header fs-15"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Top Repeat Expenses</div>
            <div class="card-body">
                <form>
                    <div class="form-group form-inline">Full text search: <input class="form-control ml-2" type="text"
                            name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3"
                            *ngIf="countryService.loading$ | async">Loading...</span></div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item Group Name</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Grocery</td>
                                <td>₹2500.00</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Dairy</td>
                                <td>₹1000.00</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Housekeeping</td>
                                <td>₹800.00</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Packaging Material</td>
                                <td>₹500.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2 flex-flow">
                        <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page"
                            [pageSize]="countryService.pageSize"></ngb-pagination><select class="custom-select"
                            style="width: auto" name="pageSize" [(ngModel)]="countryService.pageSize">
                            <option [ngValue]="2">2 items per page</option>
                            <option [ngValue]="4">4 items per page</option>
                            <option [ngValue]="6">6 items per page</option>
                        </select>
                    </div>
                </form>
            </div>

        </sb-card>

    </div>

</div>
