<div class="row justify-content-center">
    <div class="col-md-4 col-lg-4 col-xl-4 col-12 col-sm-12">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="{{ category.name }}" *ngFor="let category of menuData; let i= index" id="ngb-panel-{{i}}">
                <ng-template ngbPanelContent>
                    <div *ngFor="let products of category.products"
                        class="row border p-3 rounded gap-3 mb-2 align-items-center">
                        <div class="col">
                            <img class="w-25 h-25" src="../../../favicon.png">
                        </div>
                        <div class="col font-weight-bold">
                            {{ products.product_name }}
                        </div>
                        <div class="col font-weight-bold">
                            ₹{{ products.price }}
                        </div>
                    </div>
                    <div *ngIf="category.products.length == 0">
                        No products in this category
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
