.productImage {
    width: 6rem;
    height: 5rem;
    border-radius: 10%;
}

.gr-text {
    background: linear-gradient(#44b276, #28a7459e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border: 1px solid;
}

.border {
    border-color: #28a7459e !important;
}
