<sb-layout-dashboard>

    <div class="col">
        <h2 class="mt-3 mb-4">Table Management</h2>

        <div class="d-flex justify-content-between my-4">

            <div class="input-group rounded w-25">
                <input class="form-control amber-border" class="form-control" type="text" aria-label="Search"
                    placeholder="Search" [(ngModel)]="searchValue">
                <div class="input-group-append">
                    <button class="btn input-group-text bg-white text-dark amber lighten-3 form-control form-control"
                        id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>

            <button (click)="onClick()" class="btn btn-primary float-right btn-sm">
                Add Table
            </button>

        </div>

        <div class="row">
            <div class="card bg-warning mb-3 text-center col-6">
                <div class="card-body">
                    <h5 class="card-title">1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Seats available: 6</h6>
                    <button class="btn btn-info rounded-circle shadow mr-2 btn-sm" ngbTooltip="Edit"
                        [routerLink]="['/sales/edit_table/']"><i class="fa-solid fa-square-pen fa-lg"></i></button>

                    <button id="remove" ngbTooltip="Delete" class="btn btn-danger rounded-circle shadow btn-sm"><i
                            class="fa-solid fa-trash-can fa-lg mx-auto"></i></button>
                </div>
            </div>
            <div class="card bg-danger text-white mb-3 text-center col-6">
                <div class="card-body">
                    <h5 class="card-title">2</h5>
                    <h6 class="card-subtitle mb-2">Seats available: 6</h6>
                    <p class="card-text">Table is occupied</p>
                </div>
            </div>
            <div class="card bg-warning text-center col-6">
                <div class="card-body">
                    <h5 class="card-title">3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Seats available: 6</h6>
                    <p class="card-text">Table is occupied</p>
                </div>
            </div>
        </div>


        <div class="card table-responsive-sm  shadow">
            <div class="head bg-gradient text-white">
                <th>Table Number</th>
                <th>Table Name</th>
                <th>Table Occupied</th>
                <th>Table Active</th>
                <th>Actions</th>
            </div>
            <div>
                <div *ngFor="let data of tableData" [class.tableOccupied]="data.is_table_occupied == 'Yes'">
                    <div>
                        {{ data.res_table_number }}
                    </div>
                    <div>
                        {{ data.res_table_name }}
                    </div>
                    <div>
                        {{ data.is_table_occupied }}
                    </div>
                    <div>
                        {{ data.is_table_active }}
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-info rounded-circle shadow mr-2 btn-sm" ngbTooltip="Edit"
                            [routerLink]="['/sales/edit_table/' + data.id]"><i
                                class="fa-solid fa-square-pen fa-lg"></i></button>

                        <button id="remove" ngbTooltip="Delete" class="btn btn-danger rounded-circle shadow btn-sm"
                            (click)="deleteTableData(data.id, data.res_table_number)"><i
                                class="fa-solid fa-trash-can fa-lg mx-auto"></i></button>
                    </div>
                </div>
                <div *ngIf="!tableData.length && !showloader">
                    <div colspan="5" class="text-center">
                        No records found.
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showloader" class="d-flex justify-content-center pt-5">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="justify-content-between row">
            <div class="col">
                <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="total" [boundaryLinks]="true" [maxSize]="3">
                </ngb-pagination>
            </div>
        </div>
        <!-- </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div> -->
    </div>

</sb-layout-dashboard>
