<sb-layout-dashboard>
    <div class="card mt-4">
        <h1 class="card-header">Edit Category</h1>
        <form [formGroup]="editCategoryForm">
            <div class="container-fluid">
                <h2 class="card-header mt-4 pb-2">General</h2>


                <div class="row card-body">
                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Name</label>
                            <input type="text" formControlName="name" placeholder="Enter Category Name"
                                class="form-control" autofocus />
                            <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
                                <div *ngIf="name?.errors?.required">Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Visible In Menu</label>
                            <select name="visible_in_menu" formControlName="visible_in_menu" class="form-control">
                                <!-- <option value="default"></option> -->
                                <option *ngFor="let item of visibleInMenu">{{ item }}</option>
                            </select>
                            <div *ngIf="visible?.touched && visible?.invalid" class="alert alert-danger">
                                <div *ngIf="visible?.errors?.required">Visible in Menu is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Position</label>
                            <input type="text" formControlName="position" placeholder="Enter Position"
                                class="form-control" />
                            <div *ngIf="position?.touched && position?.invalid" class="alert alert-danger">
                                <div *ngIf="position?.errors?.required">Position is required.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="card-header pt-4 pb-2">Description and Images</h2>
                <div class="row card-body">
                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Display Mode</label><br />
                            <select name="display_mode" formControlName="display_mode" class="form-control">
                                <option *ngFor="let item of displayMode">{{ item }}</option>
                            </select>
                            <div *ngIf="displayMod?.touched && displayMod?.invalid" class="alert alert-danger">
                                <div *ngIf="displayMod?.errors?.required">Display Mode is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Description<span class="text-secondary"> (optional)</span></label>
                            <textarea type="text" formControlName="decription" placeholder="Add Description"
                                class="form-control"></textarea>
                            <!-- <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
                                <div *ngIf="description?.errors?.required">Description is required.</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Attributes</label>
                            <select name="attri" formControlName="attributes" class="form-control">
                                <option *ngFor="let item of attributesData">{{ item.name }}</option>
                            </select>
                        </div>
                        <div *ngIf="attributes?.touched && attributes?.invalid" class="alert alert-danger">
                            <div *ngIf="attributes?.errors?.required">Attributes is required.</div>
                        </div>
                    </div>
                </div>

                <div class="card-body row">
                    <div class="col">
                        <div class="form-group required">
                            <label for="img" class="">Image</label>
                            <input type="file" id="img" name="image" accept="image/*" formControlName="image"
                                class="form-control" />
                                <div *ngIf="image?.touched && image?.invalid" class="alert alert-danger">
                                    <div *ngIf="image?.errors?.required">Image is required.</div>
                                </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="form-group required">
                            <label for="img2">Category Logo</label>
                            <input type="file" id="img2" name="category_logo" accept="image/*"
                                formControlName="category_logo" class="form-control" />
                                <div *ngIf="category_logo?.touched && category_logo?.invalid" class="alert alert-danger">
                                    <div *ngIf="category_logo?.errors?.required">Category Logo is required.</div>
                                </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Status</label><br />
                            <select name="status" formControlName="status" class="form-control">
                                <option *ngFor="let item of status">{{ item }}</option>
                            </select>
                            <div *ngIf="stat?.touched && stat?.invalid" class="alert alert-danger">
                                <div *ngIf="stat?.errors?.required">
                                    Status is required.</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <h2 class="card-header">Parent Category</h2>
                <div class="card-body row">

                    <div class="form-group">

                        <ng-container *ngFor="let data of parentCategroryData">
                            <ul>
                                <li *ngIf="data.parent_category_id == null" class="list-unstyled">
                                    <i class="fa fa-chevron-down" (click)="collapse.toggle()"
                                        [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample"></i>
                                    <input type="radio" name="parent_category" (change)="onItemChange(data.id)">
                                    {{data.name}}
                                </li>

                                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                                    <ng-container *ngFor="let item of parentCategroryData">
                                        <ul>
                                            <li *ngIf="data.id == item.parent_category_id" class="list-unstyled">
                                                <input type="radio" name="parent_category"
                                                    (change)="onItemChange(item.id)">
                                                {{item.name}}
                                            </li>
                                        </ul>
                                    </ng-container>
                                </div>
                            </ul>
                        </ng-container>
                    </div>


                </div> -->


                <h2 class="card-header">Search Engine Optimization</h2>
                <div class="card-body row">
                    <div class="col">
                        <div class="form-group required">
                            <label>Meta Title</label>
                            <input type="text" formControlName="meta_title" placeholder="Enter Meta Title"
                                class="form-control" />
                            <div *ngIf="meta_title?.touched && meta_title?.invalid" class="alert alert-danger">
                                <div *ngIf="meta_title?.errors?.required">Meta title is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Slug</label>
                            <input type="text" formControlName="slug" placeholder="Enter Slug" class="form-control" />
                            <div *ngIf="slug?.touched && slug?.invalid" class="alert alert-danger">
                                <div *ngIf="slug?.errors?.required">Slug is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Meta keyword</label>
                            <input type="text" formControlName="meta_keyword" placeholder="Enter Meta Keyword"
                                class="form-control" />
                            <div *ngIf="meta_keyword?.touched && meta_keyword?.invalid" class="alert alert-danger">
                                <div *ngIf="meta_keyword?.errors?.required">Meta Keyword is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Meta Description<span class="text-secondary">(optional)</span></label>
                            <textarea type="text" formControlName="meta_description" placeholder="Add Meta Description"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mb-4 float-right"
                    (click)="updateData(editCategoryForm.value)">
                    Update
                </button>
            </div>

        </form>
    </div>
</sb-layout-dashboard>