<div class="bg-info" id="layoutAuthentication">
    <div class='ripple-background'>
        <div class='circle xxlarge shade1'></div>
        <div class='circle xlarge shade2'></div>
        <div class='circle large shade3'></div>
        <div class='circle mediun shade4'></div>
        <div class='circle small shade5'></div>
      </div>
    <div id="layoutAuthentication_content">
        <main>
            <ng-content></ng-content>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <sb-footer></sb-footer>
    </div>
</div>