<sb-layout-dashboard>
    
    <div class="row">
        <div class="col">
            <ul ngbNav [(activeId)]="activeId" #nav="ngbNav" class="nav-tabs mt-5 font-weight-bold">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Users</a>
                    <ng-template ngbNavContent>
                        <h2 class="mt-3 mb-4">POS User List</h2>
                        <!-- search button -->
                        <div class="d-flex justify-content-between mb-4">
                        
                            <div class="input-group rounded w-25">
                                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                    aria-describedby="search-addon" />
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <button (click)="onClick()" class="btn btn-primary float-right">
                            Add User
                            </button>

                        </div>
                        <table class="table table-bordered table-striped">
                            <thead class="head">
                                <th>UserId</th>
                                <th>Avatar</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Outlet Name</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>

                                <tr *ngFor="let data of userData">
                                    <td>{{ data.user_id }}</td>
                                    <td class="justify-content-center"><img class="img-xs rounded-circle"
                                            src="{{data.user_avatar}}" onerror="this.src='https://cdn.icon-icons.com/icons2/1378/PNG/128/avatardefault_92824.png'"></td>
                                    <td>{{ data.username }}</td>
                                    <td>{{ data.email }}</td>
                                    <td>{{ data.outlet_name }}</td>
                                    <td>{{ data.status }}</td>
                                    <td>{{ data.created_at | date: 'dd/MM/yyyy'}}</td>
                                    <td>
                                        <button class="btn btn-info mr-2"><i class="fa fa-pencil-square-o fa-lg"
                                                [routerLink]="['/pos/edit/edituser/' + data.user_id]"></i></button>

                                        <button id="remove" (click)="deleteRow(data.user_id)"
                                            class="btn btn-danger"><i
                                                class="fa fa-trash-o fa-lg mx-auto"></i></button>
                                    </td>
                                </tr>
                                <tr *ngIf="!length && !showloader">
                                    <td colspan="8" class="text-center">
                                        No records found.
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div *ngIf="showloader" class="d-flex justify-content-center pt-5">
                            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"
                                role="status">
                                <!-- <img src="src\image\Infinity-1s-200px.svg"> -->
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div class="justify-content-between row">
                            <div class="col">
                                <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page"
                                    [pageSize]="length" [collectionSize]="total" [boundaryLinks]="true"
                                    [maxSize]="total">
                                </ngb-pagination>
                            </div>
                        </div>

                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Outlets</a>
                    <ng-template ngbNavContent>

                        <sb-outlet>

                        </sb-outlet>

                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>

</sb-layout-dashboard>