<sb-layout-dashboard>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5 font-weight-bold">
                    <li ngbNavItem>
                        <a ngbNavLink>Users</a>
                        <ng-template ngbNavContent>
                            <h2 class="mt-3 mb-4">POS User List</h2>

                            <div class="row d-flex justify-content-between">
                                <div class="col-md-6 mb-4">

                                    <div class="input-group w-50">
                                        <input class="form-control amber-border" class="form-control" type="text"
                                            aria-label="Search" (keydown.enter)="search($event)" placeholder="Search"
                                            [(ngModel)]="searchValue">
                                        <div class="input-group-append">
                                            <button class="btn input-group-text amber lighten-3" id="basic-text1"><i
                                                    class="fa fa-search" aria-hidden="true"
                                                    (click)="search($event)"></i></button>


                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <button (click)="onClick()" class="btn btn-primary mb-4 float-right">
                                        Add User
                                    </button>
                                </div>
                            </div>

                            <table class="table table-bordered table-striped shadow">
                                <thead class="head">
                                    <th>UserId</th>
                                    <th>Avatar</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Outlet Name</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let data of udata">
                                        <td>{{ data.user_id }}</td>
                                        <td class="justify-content-center"><img class=" rounded-circle"
                                                src="{{data.user_avatar}}"></td>
                                        <td>{{ data.username }}</td>
                                        <td>{{ data.email }}</td>
                                        <td>{{ data.outlet_name }}</td>
                                        <td>{{ data.status }}</td>
                                        <td>{{ data.created_at | date: 'dd/MM/yyyy'}}</td>
                                        <td>
                                            <button class="btn btn-info mr-2"><i class="fa fa-pencil-square-o fa-lg"
                                                    [routerLink]="['/pos/edit/edituser/' + data.user_id]"></i></button>

                                            <button id="remove" (click)="deleteRow(data.user_id)"
                                                class="btn btn-danger"><i
                                                    class="fa fa-trash-o fa-lg mx-auto"></i></button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!length && !showloader">
                                        <td colspan="8" class="text-center">
                                            No records found.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div *ngIf="showloader" class="d-flex justify-content-center pt-5">
                                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"
                                    role="status">
                                    <!-- <img src="src\image\Infinity-1s-200px.svg"> -->
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="justify-content-between row">
                                <div class="col">
                                    <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page"
                                        [pageSize]="length" [collectionSize]="total" [boundaryLinks]="true"
                                        [maxSize]="total">
                                    </ngb-pagination>
                                </div>
                            </div>

                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Outlets</a>
                        <ng-template ngbNavContent>

                            <sb-outlet>

                            </sb-outlet>

                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div>
</sb-layout-dashboard>