<sb-layout-dashboard>
    <div class="card mt-4">
        <h3 class="card-header bg-gradient text-white">Edit Purchase Order</h3>
        <form [formGroup]="editOrderForm">
            <div class="container-fluid">
                <h4 class="card-header bg-light shadow mt-4 pb-2">General</h4>
                <div class="row card-body">

                    <div class="col-sm-1 col-md-4">
                        <div class="form-group required">
                            <label class="required">Select Vendor</label>
                            <select name="vendor_id" formControlName="vendor_id" class="form-control" autofocus>
                                <ng-container *ngFor="let list of vendorData">
                                    <option value="{{list.id}}">
                                        {{list.name
                                        }}
                                    </option>
                                </ng-container>
                            </select>
                            <div *ngIf="vendor_id?.touched && vendor_id?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                <div *ngIf="vendor_id?.errors?.required">Vendor is required.</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-1 col-md-4">
                        <div class="form-group required">
                            <label class="required">Select Outlet</label>
                            <select name="outlet_id" formControlName="outlet_id" class="form-control">
                                <ng-container *ngFor="let list of outletData">
                                    <option value="{{list.id}}">
                                        {{list.outlet_name
                                        }}
                                    </option>
                                </ng-container>
                            </select>
                            <div *ngIf="outlet_id?.touched && outlet_id?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                <div *ngIf="outlet_id?.errors?.required">Outlet is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-1 col-md-4">
                        <div class="form-group required">
                            <label class="required">Order Date</label>
                            <div class="input-group">
                                <input class="form-control amber-border" placeholder="yyyy-mm-dd" name="dp"
                                    ngbDatepicker #d="ngbDatepicker" formControlName="purchase_date"
                                    (dateSelect)="onSelectDate($event)">
                                <div class="input-group-append">
                                    <button class="btn input-group-text bg-white text-dark amber lighten-3 form-control"
                                        (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar fa-lg mx-auto"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-1 col-md-4">
                        <div class="form-group">
                            <label class="required">Add a Note</label>
                            <textarea type="text" formControlName="notes" placeholder="Add note"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>


                <h4 class="card-header bg-light shadow mt-4 pb-2">Item Details</h4>

                <button type="button" class="btn btn-primary mt-4 me-2  mb-4 float-right"
                    (click)="openVerticallyCentered(content)" (click)="isInputShown=false;isInputShown2=false">Add
                    Item</button>

                <ng-template #content let-modal>
                    <form [formGroup]="itemsForm">

                        <div class="modal-header bg-primary">
                            <h4 class="modal-title text-light">Add Item</h4>
                            <button type="button" class="btn-close btn-light btn-xs" aria-label="Close"
                                (click)="modal.dismiss('Cross click')" (click)="resetItemForm()">X
                            </button>
                        </div>

                        <div class="modal-body">

                            <div class="row card-body">

                                <div class="col-sm-1 col-md-6">
                                    <div class="form-group required">
                                        <label class="required">Select Item Group Name</label>
                                        <select name="item_group_id" formControlName="item_group_id"
                                            (ngModelChange)="onSelectGroup($event)" class="form-control" autofocus
                                            placeholder="Select Item Group Name">
                                            <option value="0" disabled>Select Item Group Name</option>
                                            <ng-container *ngFor="let list of itemGroupsData">
                                                <option value="{{ list.id }}">
                                                    {{list.group_name
                                                    }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <div *ngIf="item_group_id?.touched && item_group_id?.invalid"
                                            class="alert alert-danger mt-1 py-1 px-3">
                                            <div *ngIf="item_group_id?.errors?.required">Item Group name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div > -->

                                <div class="col-sm-1 col-md-6" [hidden]="!isInputShown">
                                    <div class="form-group required">
                                        <label class="required">Select Item Name</label>
                                        <ng-select name="item_id" formControlName="item_id"
                                            (search)="searchItem($event)" (ngModelChange)="onSelectNameItem($event)"
                                            placeholder="Select Item Name">

                                            <ng-container *ngFor="let list of itemsData">
                                                <ng-option value="{{ list.id }}">
                                                    {{list.item_name
                                                    }}
                                                </ng-option>
                                            </ng-container>
                                        </ng-select>
                                        <div *ngIf="item_id?.touched && item_id?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                            <div *ngIf="item_id?.errors?.required">Item name is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->



                                <div [hidden]="!isInputShown2" class="row card-body">
                                    <div class="col-6">
                                        <div class="form-group required">
                                            <label class="required">Select Unit Name</label>
                                            <input type="text" formControlName="unit_id" class="form-control"
                                                value="{{ unit_name }}" class="form-control"/>
                                            <!-- <select name="unit_id" formControlName="unit_id" class="form-control">
                                                    <option value="default">--Select Unit Name--
                                                    </option>

                                                    <ng-container *ngFor="let list of unitsData">
                                                        <option value="{{ list.id }}">
                                                            {{list.unit_name
                                                            }}
                                                        </option>
                                                    </ng-container>
                                                </select> -->
                                            <div *ngIf="unit_id?.touched && unit_id?.invalid"
                                                class="alert alert-danger mt-1 py-1 px-3">
                                                <div *ngIf="unit_id?.errors?.required">Unit name is required.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group required ">
                                            <label class="required">Quantity</label>
                                            <input type="number" formControlName="qty" class="form-control"
                                                placeholder="Enter quantity" />
                                            <div *ngIf="qty?.touched && qty?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                                <div *ngIf="qty?.errors?.required">Quantity is required.

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div [hidden]="!isInputShown2" class="row card-body">

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="required">Add a Note</label>
                                            <textarea type="text" placeholder="Add note" formControlName="notes"
                                                class="form-control"></textarea>
                                            <!-- <div *ngIf="notes?.touched && notes?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                    <div *ngIf="notes?.errors?.required">Note is required.</div>
                                </div> -->
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group required">
                                            <label class="required">Price</label>
                                            <input type="number" formControlName="price" class="form-control"
                                                placeholder="Enter price" />
                                            <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                                <div *ngIf="price?.errors?.required">Price is required.

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer bg-dark">
                            <button type="submit" class="btn btn-info btn-sm"
                                (click)=" addItemData(itemsForm.value)">Save
                                Item</button>
                        </div>
                    </form>

                </ng-template>

                <table class="table table-responsive-sm table-sm shadow">
                    <thead class="head bg-gradient text-white">
                        <th>Item Group</th>
                        <th>Item Name</th>
                        <th>Unit Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                        <th>Actions</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let data of orderItemData">
                            <td>{{ data.item_group_name }}</td>
                            <td>{{ data.item_name }}</td>
                            <td>{{ data.unit_name }}</td>
                            <td>{{ data.qty }}</td>
                            <td>₹{{ data.price?.toFixed(2) }}</td>
                            <td>₹{{ (data.qty * data.price)?.toFixed(2) }}</td>
                            <td class="d-flex">
                                <button ngbTooltip="Edit" class="btn btn-info rounded-circle shadow btn-sm mr-2"
                                    (click)="openVerticallyCentered(content2)"
                                    (click)="EditOrderPatchValue(data.item_id)"><i
                                        class="fa fa-pencil-square-o"></i></button>

                                <button id="remove" ngbTooltip="Delete"
                                    class="btn btn-danger rounded-circle shadow btn-sm"
                                    (click)="RemoveOrder(data.item_id)"><i class="fa fa-trash-o mx-auto"></i></button>
                            </td>
                        </tr>

                        <tr class="table-sm">
                            <td colspan="5" class="text-right"><b>Shipping Charges</b></td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <!-- <input type="number" formControlName="shipping_charge" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                        (change)="onKey($event)" (keyup)="onKey($event)"> -->
                                    <input type="number" [(ngModel)]="shippingCharge" min="0"
                                        oninput="validity.valid||(value='');" class="form-control"
                                        [ngModelOptions]="{standalone: true}" (change)="onKey($event)">
                                </div>
                                <!-- <div *ngIf="shipping_charge?.touched && shipping_charge?.invalid"
                                    class="alert alert-danger mt-1 py-1 px-3">
                                    <div *ngIf="shipping_charge?.errors?.required">Shipping charge is required.</div>
                                </div> -->
                            </td>
                        </tr>

                        <tr class="table-sm">
                            <td colspan="5" class="text-right"><b>Total Amount:</b></td>
                            <td>₹{{ total?.toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>

                <button [disabled]="!editOrderForm.valid && !itemsForm.valid" type="submit"
                    (click)="onSubmit(editOrderForm.value)" class="btn btn-primary mb-4 float-right">
                    Update
                </button>

            </div>

            <ng-template #content2 let-modal>
                <form [formGroup]="editItemsForm">

                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-white">Edit Item</h4>
                        <button type="button" class="btn-light btn-xs" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">X
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="row card-body">

                            <div class="col-sm-1 col-md-6">
                                <div class="form-group required">
                                    <label class="required">Select Item Group Name</label>
                                    <select name="item_group_id" formControlName="item_group_id"
                                        (ngModelChange)="onSelectGroup($event)" class="form-control" autofocus
                                        placeholder="Select Item Group Name">

                                        <ng-container *ngFor="let list of itemGroupsData">
                                            <option value="{{ list.id }}">
                                                {{list.group_name
                                                }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="item_group_id2?.touched && item_group_id2?.invalid"
                                        class="alert alert-danger mt-1 py-1 px-3">
                                        <div *ngIf="item_group_id2?.errors?.required">Item Group name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div [hidden]="!isInputShown"> -->

                            <div class="col-sm-1 col-md-6">
                                <div class="form-group required">
                                    <label class="required">Select Item Name</label>
                                    <select name="item_id" formControlName="item_id" (search)="searchItem($event)"
                                        class="form-control" (ngModelChange)="onSelectNameItem($event)"
                                        placeholder="Select Item Name">

                                        <ng-container *ngFor="let list of itemsData">
                                            <option value="{{ list.id }}">
                                                {{list.item_name
                                                }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="item_id?.touched && item_id?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                        <div *ngIf="item_id?.errors?.required">Item name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->

                            <!-- <div [hidden]="!isInputShown2"> -->
                            <div class="row card-body">

                                <div class="col-6">
                                    <div class="form-group required">
                                        <label class="required">Select Unit Name</label>
                                        <input type="text" formControlName="unit_id" value="{{ unit_name }}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group required">
                                        <label class="required">Quantity</label>
                                        <input type="number" formControlName="qty" placeholder="Enter quantity"
                                            class="form-control" />
                                        <div *ngIf="qty2?.touched && qty2?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                            <div *ngIf="qty2?.errors?.required">Quantity is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->

                            <!-- <div [hidden]="!isInputShown2"> -->

                            <div class="row card-body">

                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="required">Add a Note</label>
                                        <textarea type="text" formControlName="notes" placeholder="Add note"
                                            class="form-control"></textarea>

                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group required">
                                        <label class="required">Price</label>
                                        <input type="number" formControlName="price" placeholder="Enter price"
                                            class="form-control" />
                                        <div *ngIf="price2?.touched && price2?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                            <div *ngIf="price2?.errors?.required">Price is required.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>

                    </div>

                    <div class="modal-footer bg-dark">
                        <button type="submit" class="btn btn-info btn-sm" (click)=" editItemData(editItemsForm)">Save
                            Item</button>
                    </div>
                </form>

            </ng-template>

        </form>
    </div>
</sb-layout-dashboard>
