<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <p class="mt-5 text-center"><img class="w-25" src="http://pos_vistaran.net/images/logo.png"></p>
                <h1 class="italic text-white text-center mt-3">|| लाभ ||</h1>
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center my-4"><i class="fa-solid fa-lock"></i> Login</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                            <div class="form-group required">
                                <label class=" mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="email"
                                    name="email" formControlName="email" placeholder="Enter email address"
                                    [class.is-invalid]="email?.invalid && email?.touched" />
                                <div *ngIf="email?.touched && email?.invalid" >
                                    <p class="text-danger" *ngIf="email?.errors?.required">Email is required.</p>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="mb-1 " for="password">Password</label>
                                <input class="form-control py-4" id="password" type="password" name="password"
                                    placeholder="Enter password" formControlName="password"
                                    [class.is-invalid]="password?.invalid && password?.touched" />
                                <div *ngIf="password?.touched && password?.invalid">
                                    <p class="text-danger" *ngIf="password?.errors?.required">Password is required.</p>
                                </div>
                            </div>

                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a
                                     routerLink="/auth/forgot-password">Forgot Password?</a>
                                <button (click)="showValidations = true" class="btn btn-primary"
                                    type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>