<sb-layout-dashboard>
    <div class="row">
        <div class="col-8">
            <div class="card mt-4">
                <h1 class="card-header">Edit User</h1>
                <form [formGroup]="editUserForm">
                    <div class="container-fluid">
                        <h2 class="card-header mt-4 pb-2">General</h2>
                        <div class="card-body row">
                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Username</label>
                                    <input type="text" formControlName="username" placeholder="Enter Username"
                                        class="form-control" placeholder="Enter Username" autofocus />
                                    <div *ngIf="userName?.touched && userName?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="userName?.errors?.required">Username is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">First name</label>
                                    <input type="text" formControlName="first_name" placeholder="Enter First name"
                                        class="form-control" />
                                    <div *ngIf="firstName?.touched && firstName?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="firstName?.errors?.required">First name
                                            is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Last name</label>
                                    <input type="text" formControlName="lastname" placeholder="Enter Last name"
                                        class="form-control" />
                                    <div *ngIf="lastName?.touched && lastName?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="lastName?.errors?.required">Last name is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label>Email</label>
                                    <input type="text" formControlName="email" placeholder="Enter email"
                                        class="form-control" />
                                    <div *ngIf="email?.touched && email?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="email?.errors?.required">Email is
                                            required.</div>
                                        <div class="alert alert-danger" *ngIf="email?.errors?.email">Email is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label>Phone Number</label>
                                    <input type="tel" formControlName="phone_no" placeholder="Enter Phone number"
                                        class="form-control" />
                                    <div *ngIf="phone?.touched && phone?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="phone?.errors?.required">Phone number is
                                            required.</div>
                                        <div class="alert alert-danger" *ngIf="phone?.errors?.maxlength">Phone number
                                            must not exceed 10 digits
                                        </div>
                                        <div class="alert alert-danger" *ngIf="phone?.errors?.pattern">Only Numbers are
                                            allowed</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h2 class="card-header pt-2 pb-2">User Avatar</h2>
                        <div class="card-body row">
                            <div class="col-6">
                                <label for="img">Edit Avatar</label><br>
                                <input type="file" id="img" name="img" accept="image/*" formControlName="user_avatar" />
                                <div *ngIf="user_avatar?.touched && user_avatar?.invalid || showValidations">
                                    <div class="alert alert-danger" *ngIf="user_avatar?.errors?.required">User Avatar is
                                        required.</div>
                                </div>
                            </div>
                        </div>

                        <h2 class="card-header ">Password</h2>
                        <div class="card-body row">
                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Password</label>
                                    <input type="password" formControlName="password" placeholder="Enter Password"
                                        class="form-control" />
                                    <div *ngIf="password?.touched && password?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="password?.errors?.required">Password is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Confirm Password</label>
                                    <input [class.is-invalid]="editUserForm?.errors?.mismatch"
                                        placeholder="Confirm Password" type="password"
                                        formControlName="confirm_password" class="form-control" />
                                    <div
                                        *ngIf="confirmPassword?.touched && confirmPassword?.invalid || showValidations">
                                        <div class="alert alert-danger"
                                            *ngIf="confirmPassword?.errors?.required && confirmPassword?.invalid">
                                            Password is required.</div>
                                    </div>
                                    <div class="alert alert-danger"
                                        *ngIf="editUserForm?.errors?.mismatch && !confirmPassword?.invalid">
                                        Passwords do not match.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="card-header pt-4 pb-2">Status & Outlet</h2>
                        <div class="card-body row">
                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Select Outlet</label><br />
                                    <select name="outlet" formControlName="outlet_name" class="form-control"
                                        placeholder="Select Outlet">
                                        <option *ngFor="let item of outletData" value="{{item.id}}">{{ item.outlet_name
                                            }}</option>
                                    </select>
                                    <div *ngIf="outl?.touched && outl?.invalid || showValidations">
                                        <div *ngIf="outl?.errors?.required" class="alert alert-danger">Outlet is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Select User Account Status</label><br />
                                    <select name="status" formControlName="status" class="form-control">
                                        <option *ngFor="let item of status; index as i" value="{{i}}">{{ item }}
                                        </option>
                                    </select>
                                    <div *ngIf="stat?.touched && stat?.invalid || showValidations">
                                        <div *ngIf="stat?.errors?.required" class="alert alert-danger">User Account
                                            Status is required.</div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col">
                        <div class="form-group">
                            <label class="required">Select Outlet Status</label><br />
                            <select name="status" formControlName="outlet_status" class="form-control">
                                <option *ngFor="let item of status">{{ item }}</option>
                            </select>
                            <div *ngIf="outstat?.touched && outstat?.invalid" class="alert alert-danger">
                                <div *ngIf="outstat?.errors?.required">Status is required.</div>
                            </div>
                        </div>
                    </div> -->
                        </div>

                        <button (click)="showValidations = true" type="submit" (click)="updateData(editUserForm.value)"
                            class="btn btn-primary mb-4 float-right">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</sb-layout-dashboard>