<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Create Account</h3>
                    </div>
                    <div class="card-body">
                        <form #createAccountForm="ngForm">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="small mb-1" for="first_Name">First
                                            Name</label>
                                        <input class="form-control py-4" required id="first_Name" ngModel name="first_Name"
                                            type="text" #first_Name="ngModel"
                                            [class.is-invalid]="first_Name.invalid && first_Name.touched"
                                            placeholder="Enter first name" />
                                            <div class="text-danger" [class.d-none]="first_Name.valid || first_Name.untouched">
                                                <small>First Name is required</small>
                                            </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="small mb-1" for="lastname">Last
                                            Name</label>
                                        <input class="form-control py-4" required ngModel #lastname="ngModel"
                                            [class.is-invalid]="lastname.invalid && lastname.touched" id="lastname"
                                            name="lastname" type="text" placeholder="Enter last name" />
                                        <div class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">
                                            <small>Last Name is required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required"><label class="small mb-1" for="username">User
                                            Name</label>
                                        <input class="form-control py-4" required id="username" ngModel #username="ngModel"
                                            [class.is-invalid]="username.invalid && username.touched" name="username"
                                            type="text" placeholder="Enter user name" />
                                        <div class="text-danger" [class.d-none]="username.valid || username.untouched">
                                            <small>User Name is required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="small mb-1" for="email">Email</label>
                                        <input class="form-control py-4" required id="inputEmailAddress" ngModel #email="ngModel"
                                            [class.is-invalid]="email.invalid && email.touched" type="email"
                                            name="email" aria-describedby="emailHelp"
                                            placeholder="Enter email address" />
                                        <div class="text-danger" [class.d-none]="email.valid || email.untouched">
                                            <small>Email is required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required"><label class="small mb-1"
                                            for="password">Password</label>
                                        <input class="form-control py-4" required id="password" name="password" ngModel
                                            #password="ngModel"
                                            [class.is-invalid]="password.invalid && password.touched" type="password"
                                            placeholder="Enter password" />
                                        <div class="text-danger" [class.d-none]="password.valid || password.untouched">
                                            <small>Password is required</small>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required"><label class="small mb-1"
                                            for="confirm_password">Confirm Password</label>
                                        <input class="form-control py-4" required id="confirm_password" name="confirm_password"
                                            type="password" ngModel #confirm_password="ngModel"
                                            [class.is-invalid]="confirm_password.invalid && confirm_password.touched"
                                            placeholder="Confirm password" />
                                        <div class="text-danger"
                                            [class.d-none]="confirm_password.valid || confirm_password.untouched">
                                            <small>Confirm Password is required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block"
                                    routerLink="/dashboard">Create Account</a></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>