<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Create Account</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit(createAccountForm.value)">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="small mb-1">First
                                            Name</label>
                                        <input type="text" formControlName="first_Name" placeholder="Enter First Name"
                                            class="form-control" required
                                            [class.is-invalid]="first_Name?.touched && first_Name?.invalid" />
                                        <div *ngIf="first_Name?.touched && first_Name?.invalid" class="text-danger">
                                            <small *ngIf="first_Name?.errors?.required">First Name is required.</small>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="small mb-1" for="lastname">Last
                                            Name</label>
                                        <input type="text" formControlName="lastname" placeholder="Enter Last Name"
                                            class="form-control"
                                            [class.is-invalid]="lastname?.touched && lastname?.invalid" />
                                        <div *ngIf="lastname?.touched && lastname?.invalid" class="text-danger">
                                            <small *ngIf="lastname?.errors?.required">Last Name is required.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required"><label class="small mb-1" for="username">User
                                            Name</label>
                                        <input type="text" formControlName="username" placeholder="Enter Username"
                                            class="form-control"
                                            [class.is-invalid]="username?.touched && username?.invalid" />
                                        <div *ngIf="username?.touched && username?.invalid" class="text-danger">
                                            <small *ngIf="username?.errors?.required">Username is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="small mb-1">Email</label>
                                        <input type="text" formControlName="email" placeholder="Enter Email"
                                            class="form-control"
                                            [class.is-invalid]="email?.touched && email?.invalid" />
                                        <div *ngIf="email?.touched && email?.invalid" class="text-danger">
                                            <small *ngIf="email?.errors?.required">Email is required.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required"><label class="small mb-1"
                                            for="password">Password</label>
                                        <input type="password" formControlName="password" placeholder="Enter Password"
                                            class="form-control"
                                            [class.is-invalid]="password?.touched && password?.invalid" />
                                        <div *ngIf="password?.touched && password?.invalid" class="text-danger">
                                            <small *ngIf="password?.errors?.required">Password is required.</small>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required"><label class="small mb-1"
                                            for="confirm_password">Confirm Password</label>
                                        <input type="password" formControlName="confirm_password"
                                            placeholder="Enter Confirm Password" class="form-control"
                                            [class.is-invalid]="confirm_password?.touched && confirm_password?.invalid" />
                                        <div *ngIf="confirm_password?.touched && confirm_password?.invalid"
                                            class="text-danger">
                                            <small *ngIf="confirm_password?.errors?.required">Confirm Password is required.</small>
                                        </div>
                                        <small *ngIf="createAccountForm?.errors?.mismatch" class="text-danger">
                                            Passwords do not match.
                                        </small>

                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                            <button [disabled]="!createAccountForm.valid" class="btn btn-primary">Create
                                Account</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>