// Import Custom Variables
@import 'variables.scss';
// Import Bootstrap
@import 'bootstrap/scss/bootstrap.scss';
// Import Custom SCSS
@import 'global.scss';
// Layout
@import 'layout/authentication.scss';
@import 'layout/dashboard-default.scss';
@import 'layout/dashboard-fixed.scss';
@import 'layout/error.scss';
// Navigation
@import 'navigation/nav.scss';
@import 'navigation/topnav.scss';
@import 'navigation/sidenav/sidenav.scss';
@import 'navigation/sidenav/sidenav-dark.scss';
@import 'navigation/sidenav/sidenav-light.scss';

@import '~@ng-select/ng-select/themes/default.theme.css';

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.italic {
    font-style: italic;
}

ngb-datepicker {
    font-size: 13px;
}

.bg-primary {
    background-color: #44b276 !important;
}

.img-xs {
    width: 30px;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.bg-gradient {
    background-image: linear-gradient(#44b276, #28a7459e);
}

table {
    border-radius: 5px;
    overflow: hidden;
}

.shadow {
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 15%) !important;
}

card {
    border-radius: 5px;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tableOccupied {
    background: #eca2a2;
}

.btn-link {
    color: black !important;
}

.cursor-pointer {
    cursor: pointer;
}

ngb-accordion .card .card-header {
    background-image: linear-gradient(#44b276, #28a7459e);
    color: white;
}

ngb-accordion .card .card-header .btn-link {
    color: white !important;
    font-size: x-large;
    font-weight: 600;
}

@media (max-width: 475px) {
    .flex-flow {
        flex-flow: row wrap;
    }

    .w-25 {
        width: 35% !important;
    }
}

.circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }

  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }

  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }

  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }

  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }

  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }

  .shade3{
    opacity: 0.7;
  }

  .shade4{
    opacity: 0.8;
  }

  .shade5{
    opacity: 0.9;
  }

  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }

    50%{
      transform: scale(1.2);
    }

    100%{
      transform: scale(0.8);
    }
  }
