// Import Custom Variables
@import 'variables.scss';
// Import Bootstrap
@import 'bootstrap/scss/bootstrap.scss';
// Import Custom SCSS
@import 'global.scss';
// Layout
@import 'layout/authentication.scss';
@import 'layout/dashboard-default.scss';
@import 'layout/dashboard-fixed.scss';
@import 'layout/error.scss';
// Navigation
@import 'navigation/nav.scss';
@import 'navigation/topnav.scss';
@import 'navigation/sidenav/sidenav.scss';
@import 'navigation/sidenav/sidenav-dark.scss';
@import 'navigation/sidenav/sidenav-light.scss';

@import '~@ng-select/ng-select/themes/default.theme.css';

body, .form-control, ngb-datepicker {
    font-size: 13px;
}

.bg-primary {
    background-color: #44b276 !important;
}

.img-xs {
    width: 30px;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}
.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.bg-gradient {
    background-image: linear-gradient(#44b276, #28a7459e);
}

table {
    border-radius: 5px;
    overflow: hidden;
}

.shadow {
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 15%) !important;
}

card {
    border-radius: 5px;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tableOccupied {
    background: #eca2a2;
}

.btn-link {
    color: black !important;
}

