<sb-layout-dashboard>
    <div class="d-flex justify-content-center">

    <div class="card shadow w-75 mt-3">
        <h1 class="card-header mb-3 text-center">Add Customer</h1>
        <form [formGroup]="addCustomerForm">
            <div class="container">
                <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                <div class="row card-body justify-content-around">

                    <div class="col-6 col-sm-4">
                        <div class="form-group required">
                            <label class="required">First Name</label>
                            <input type="text" placeholder="Enter First Name" formControlName="first_name" class="form-control" autofocus/>
                            <div *ngIf="firstname?.touched && firstname?.invalid" class="alert alert-danger">
                                <div *ngIf="firstname?.errors?.required">First Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4">
                        <div class="form-group required">
                            <label class="required">Last Name</label>
                            <input type="text" placeholder="Enter Last Name" formControlName="last_name" class="form-control" />
                            <div *ngIf="lastname?.touched && lastname?.invalid" class="alert alert-danger">
                                <div *ngIf="lastname?.errors?.required">Last Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4">
                        <div class="form-group required">
                            <label class="required">Phone Number</label>
                            <input type="text" placeholder="Enter Phone Number" formControlName="phone_number" class="form-control" />
                            <div *ngIf="phone?.touched && phone?.invalid" class="alert alert-danger">
                                <div *ngIf="phone?.errors?.required">Phone Number is required.</div>
                                <div *ngIf="phone?.errors?.maxlength">Phone number must not exceed 10 digits
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button [disabled]="!addCustomerForm.valid" type="submit" (click)="onSubmit(addCustomerForm.value)"
                    class="btn btn-primary mb-4 float-right">
                    Submit
                </button>

            </div>
        </form>
    </div>
    </div>
</sb-layout-dashboard>
