@media (max-width: 2000px) {
    // .display {
    //     display: flex;
    // }
    .margin {
            margin-right: 10px;
    }
  }
@media (min-width: 1500px) {
      .display {
        display: flex;
    }
    .margin {
            margin-right: 10px;
    }
}