<sb-layout-dashboard>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5">
                        <li ngbNavItem>
                            <ng-template ngbNavContent> -->
                <h2 class="mt-3 mb-5">Sales</h2>

                <div class="d-flex justify-content-between mb-4">

                    <div class="input-group rounded w-25">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <button (click)="onClick()" class="btn btn-primary float-right">
                        Add Order
                    </button>

                </div>

                <table class="table table-bordered table-striped">
                    <thead class="head">
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Payment Mode</th>
                        <th>Total Amount</th>
                        <th>Actions</th>
                    </thead>
                    <tbody class="justify-content-end">
                        <tr *ngFor="let data of orderData">
                            <td>{{ data.id }}</td>
                            <td>{{ data.customer_id }}</td>
                            <td>{{ data.payment_mode }}</td>
                            <td>₹ {{ data.total_amount }}</td>
                            <td>
                                <button class="btn btn-light mr-2" (click)="openXl(content)"
                                    (click)="getOrderDetail(data.id)"><i class="fa fa-eye fa-lg"></i></button>

                                <button class="btn btn-info mr-2"><i class="fa fa-pencil-square-o fa-lg"
                                        [routerLink]="['/sales/edit_sale/' + data.id]"></i></button>

                                <button id="remove" (click)="deleteRow(data.id)" class="btn btn-danger"><i
                                        class="fa fa-trash-o fa-lg mx-auto"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="!orderData.length">
                            <td colspan="5" class="text-center">
                                No records found.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" id="no-rows-alert" style="display: none">No records found</div>
                <!-- </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div> -->
            </div>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Order Details</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">X</button>
            </div>
            <div class="modal-body">
                <ng-container *ngFor="let data of orderDetail">
                    <p>Order Id: {{data.id}}</p>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>

    </div>
</sb-layout-dashboard>