<sb-layout-dashboard>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5">
                        <li ngbNavItem>
                            <ng-template ngbNavContent> -->
                <h2 class="mt-3 mb-5">Sales</h2>

                <div class="d-flex justify-content-between mb-4">

                    <div class="input-group rounded w-25">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            (keyup)="search()" placeholder="Search" [(ngModel)]="searchValue"
                            aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <button (click)="onClick()" class="btn btn-primary float-right">
                        Add Sales Order
                    </button>

                </div>

                <table class="table table-bordered table-striped">
                    <thead class="head">
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Payment Mode</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Actions</th>
                    </thead>
                    <tbody *ngIf="!showloader" class="justify-content-end">
                        <tr *ngFor="let data of orderData">
                            <td>{{ data.id }}</td>
                            <td>{{ data.first_name }} {{data.last_name}}</td>
                            <td>{{ data.payment_mode }}</td>
                            <td>{{ data.order_date | date: 'dd/MM/yyyy' }}</td>
                            <td>₹ {{ data.total_amount }}</td>
                            <td>
                                <button class="btn btn-dark mr-2" ngbTooltip="View Details" (click)="openXl(content)"
                                    (click)="getOrderDetail(data.id)"><i class="fa fa-eye fa-lg"></i></button>

                                <button class="btn btn-info mr-2" ngbTooltip="Edit"
                                    [routerLink]="['/sales/edit_sale/' + data.id]"><i
                                        class="fa fa-pencil-square-o fa-lg"></i></button>

                                <button id="remove" ngbTooltip="Delete" (click)="deleteRow(data.id)"
                                    class="btn btn-danger"><i class="fa fa-trash-o fa-lg mx-auto"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="!orderData.length && !showloader">
                            <td colspan="5" class="text-center">
                                No records found.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="showloader" class="d-flex justify-content-center pt-5">
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <!-- <img src="src\image\Infinity-1s-200px.svg"> -->
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="justify-content-between row">
                    <div class="col">
                        <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="pageSize"
                            [collectionSize]="total" [boundaryLinks]="true" [maxSize]="total">
                        </ngb-pagination>
                    </div>
                </div>


                <div class="alert alert-danger" id="no-rows-alert" style="display: none">No records found</div>
                <!-- </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div> -->
            </div>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white">Order Details</h4>
                <button type="button" class="btn btn-light btn-xs" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">X</button>
            </div>
            <div class="modal-body">
                <p><b>Order Id:</b> {{orderDetail.id}}</p>
                <p>
                    <b>Customer name: </b> {{ orderDetail.first_name}} {{ orderDetail.last_name }}
                    <br>
                    <b>Phone Number: </b> {{ orderDetail.phone_number }}
                </p>

                <p class="mb-2"><b>Product Details:</b></p>
                <table class="table table-bordered table-striped table-sm table-hover table-success">
                    <thead class="head">
                        <th>Product</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </thead>
                    <tbody *ngIf="!showloader">
                        <tr *ngFor="let data of itemDetail">
                            <td>{{ data.product_name }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.quantity }}</td>
                            <td>₹ {{ data.price }}</td>
                            <td>{{ data.subtotal }}</td>
                        </tr>
                        <tr class="table-sm">
                            <td colspan="4" class="text-right"><b>Shipping Charges:</b></td>
                            <td>₹{{ orderDetail.shipping_charge }}</td>
                        </tr>
                        <tr class="table-sm">
                            <td colspan="4" class="text-right"><b>Total Amount:</b></td>
                            <td>₹{{ orderDetail.total_amount }}</td>
                        </tr>
                    </tbody>
                </table>

                <p><b>Payment Mode: </b> {{ orderDetail.payment_mode }}</p>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-info" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>

    </div>
</sb-layout-dashboard>