<sb-layout-dashboard>


    <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5 font-weight-bold">
                <li ngbNavItem> -->
    <!-- <a ngbNavLink>Items</a>
                    <ng-template ngbNavContent> -->
    <h2 class="mt-3 mb-4">Item List</h2>
    <!-- search button -->
    <div class="d-flex justify-content-between mb-4 flex-flow">

        <div class="input-group rounded w-25 w-full">
            <input class="form-control amber-border" class="form-control" type="text" aria-label="Search"
                (keyup)="search($event)" placeholder="Search" [(ngModel)]="searchValue">
            <div class="input-group-append">
                <button class="btn input-group-text bg-white text-dark amber lighten-3 form-control" id="basic-text1"><i
                        class="fa fa-search" aria-hidden="true" (click)="search($event)"></i></button>
            </div>
        </div>

        <div class="col-sm col-lg px-lg-1 p-0">
            <select class="inline-block align-middle text-center select-none border 
                           font-normal whitespace-no-wrap rounded py-1.5 px-3 leading-normal no-underline
                           text-dark border-slate-400" [(ngModel)]="pageSize" (ngModelChange)="refreshItemsData($event)">
                <option default value="{{100}}">100 items per page</option>
                <option value="{{15}}">15 items per page</option>
                <option value="{{10}}">10 items per page</option>
                <option value="{{5}}">5 items per page</option>
            </select>
        </div>

        <button (click)="onClick()" class="btn btn-primary float-right font-weight-bold">
            <i class="fa-solid fa-plus mr-1"></i>Add Item
        </button>

    </div>
    <table class="table table-responsive-sm shadow">
        <thead class="head bg-gradient text-white">
            <th scope="col">Item Id</th>
            <th scope="col">Name</th>
            <th scope="col">Unit</th>
            <th scope="col">Item Group</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody *ngIf="!showloader">
            <tr *ngFor="let data of itemsData; let i = index">
                <th scope="row">{{ (i+1) }}</th>
                <td>{{ data.item_name }}</td>
                <td>{{ data.unit_name }}</td>
                <td>{{ data.group_name }}</td>
                <td class="d-flex">
                    <button ngbTooltip="Edit" class="btn btn-info rounded-circle shadow mr-2 btn-sm"
                        [routerLink]="['/items/edit_item/' + data.id]"><i
                            class="fa-solid fa-square-pen fa-lg"></i></button>

                    <button ngbTooltip="Delete" id="remove" (click)="deleteRow(data.id)"
                        class="btn btn-danger rounded-circle shadow btn-sm"><i
                            class="fa-solid fa-trash-can fa-lg mx-auto"></i></button>
                </td>
            </tr>
            <tr *ngIf="!length && !showloader">
                <td colspan="8" class="text-center">
                    No records found.
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="showloader" class="d-flex justify-content-center pt-5">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <!-- <img src="src\image\Infinity-1s-200px.svg"> -->
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="justify-content-between row">
        <div class="col">
            <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="pageSize"
                [collectionSize]="total" [boundaryLinks]="true" [maxSize]="3" [ellipses]="true">
            </ngb-pagination>
        </div>
    </div>
    <!-- </ng-template> -->
    <!-- </li>
            </ul> -->
    <!-- <div [ngbNavOutlet]="nav"></div> -->


</sb-layout-dashboard>
