<sb-layout-dashboard>
    <div class="row">
        <div class="col-8">
            <div class="card mt-4">
                <h1 class="card-header">Edit Outlet</h1>
                <form [formGroup]="editOutletForm">
                    <div class="container-fluid">
                        <h2 class="card-header mt-4 pb-2">General</h2>
                        <div class="card-body row">
                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Outlet Name</label>
                                    <input type="text" formControlName="outlet_name" placeholder="Enter Outlet Name"
                                        class="form-control" autofocus />
                                    <div *ngIf="name?.touched && name?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="name?.errors?.required">Outlet Name
                                            is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Select Status</label><br />
                                    <select name="Status" formControlName="status" class="form-control">
                                        <option *ngFor="let item of status">{{ item }}</option>
                                    </select>
                                    <div *ngIf="stat?.touched && showValidations || stat?.invalid ">
                                        <div class="alert alert-danger" *ngIf="stat?.errors?.required">Status is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="card-header pt-4 pb-2">Outlet Address</h2>
                        <div class="card-body row">
                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Outlet Address</label>
                                    <input type="text" rows="6" formControlName="outlet_Address"
                                        placeholder="Enter Outlet Address" class="form-control" />
                                    <div *ngIf="showValidations || outletAddress?.invalid && outletAddress?.touched">
                                        <div class="alert alert-danger" *ngIf="outletAddress?.errors?.required">
                                            Outlet Address is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Country</label>
                                    <!-- <input type="text" formControlName="country" class="form-control" /> -->

                                    <ng-select placeholder="Select Country">
                                        <ng-option *ngFor="let item of myData">
                                            {{ item.text }}
                                        </ng-option>
                                    </ng-select>

                                    <div *ngIf="showValidations || country?.invalid && country?.touched">
                                        <div class="alert alert-danger" *ngIf="country?.errors?.required">Country is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">State</label>
                                    <input type="text" formControlName="state" placeholder="Enter State"
                                        class="form-control" />
                                    <div *ngIf="showValidations || state?.invalid && state?.touched">
                                        <div class="alert alert-danger" *ngIf="state?.errors?.required">State is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">City</label>
                                    <input type="text" formControlName="city" placeholder="Enter City"
                                        class="form-control" />
                                    <div *ngIf="showValidations || city?.invalid && city?.touched">
                                        <div class="alert alert-danger" *ngIf="city?.errors?.required">City is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Postcode</label>
                                    <input type="text" formControlName="postcode" placeholder="Enter Postcode"
                                        class="form-control" (keydown)="validateNumber($event)"/>
                                    <div *ngIf="showValidations || postCode?.invalid && postCode?.touched">
                                        <div *ngIf="postCode?.errors?.required" class="alert alert-danger">Postcode is
                                            required.</div>
                                        <div *ngIf="postCode?.errors?.maxlength && !postCode?.errors?.pattern" class="alert alert-danger">Postcode
                                            must not exceed 6 digits
                                        </div>
                                        <div *ngIf="postCode?.errors?.pattern" class="alert alert-danger">Only Numbers
                                            are
                                            allowed</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="card-header pt-4 pb-2">Inventory Source</h2>
                        <div class="card-body row">
                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Inventory Source</label><br />
                                    <select name="inventory_source" formControlName="inventory_source"
                                        class="form-control">
                                        <option *ngFor="let item of inventory_source">{{ item }}</option>
                                    </select>
                                    <div *ngIf="showValidations || inventory?.invalid && inventory?.touched">
                                        <div *ngIf="inventory?.errors?.required" class="alert alert-danger">
                                            Inventory source is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button (click)="showValidations = true" type="button"
                            (click)="updateData(editOutletForm.value)" class="btn btn-primary mb-4 float-right">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</sb-layout-dashboard>