<sb-layout-dashboard>
    <!-- <div class="container"> -->

    <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5">
                <li ngbNavItem>
                    <ng-template ngbNavContent> -->
    <h2 class="text-2xl">Menu Categories</h2>

    <div class="d-flex justify-content-between mb-4 flex-flow">
        <button (click)="onClick()" class="btn btn-primary btn-block">
            Add Category
        </button>
    </div>

    <div class="d-flex justify-content-between mb-4 flex-flow">

        <div class="input-group rounded w-full">
            <input class="form-control amber-border" class="form-control" type="text" aria-label="Search"
                (keyup)="search($event)" placeholder="Search" [(ngModel)]="searchValue">
            <div class="input-group-append">
                <button class="btn input-group-text bg-white text-dark amber lighten-3 form-control"
                    id="basic-text1"><i class="fa fa-search" aria-hidden="true"
                        (click)="search($event)"></i></button>
            </div>
        </div>

    </div>

    <ul class="max-w-xs flex flex-col">
        <li  *ngFor="let data of categoryData" class="inline-flex width items-center gap-x-2 py-2 px-3 text-md font-medium bg-white border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg text- dark:bg-gray-800 dark:border-gray-700 dark:text-blue-600/100">
            {{ data.name }} |
            <span *ngIf="data.status == 0">active</span>
            <span *ngIf="data.status == 1">inactive</span>
            <span *ngIf="data.status == 'active'">active</span>
            <span *ngIf="data.status == 'inactive'">inactive</span> |
            <span>{{ data.number_of_products }} Items</span>

            <button ngbTooltip="Edit" class="btn btn-info rounded-circle shadow mr-1 btn-sm"
                        [routerLink]="['/catalog/editcategory/'+data.id]"><i
                            class="fa-solid fa-square-pen fa-lg"></i></button>

                    <button ngbTooltip="Delete" id="remove" (click)="deleteRow(data.id)"
                        class="btn btn-danger rounded-circle shadow btn-sm"><i
                            class="fa-solid fa-trash-can fa-lg mx-auto"></i></button>
        </li>
      </ul>

    <div *ngIf="showloader" class="d-flex justify-content-center pt-5">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <!-- <img src="src\image\Infinity-1s-200px.svg"> -->
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="justify-content-between row">
        <div class="col">
            <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="length"
                [collectionSize]="total" [boundaryLinks]="true" [maxSize]="3">
            </ngb-pagination>
        </div>
    </div>
    <!-- </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div> -->

    <!-- </div> -->
</sb-layout-dashboard>
