<div class="container">
    <div class="row">
        <div class="col">
            <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5">
                    <li ngbNavItem>
                        <ng-template ngbNavContent> -->
            <h2 class="mt-3 mb-4">Categories</h2>
            <button (click)="onClick()" class="btn btn-primary mb-4 float-right">
                                Add Category
                            </button>

            <table class="table table-bordered table-striped">
                <thead class="head">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Number of Products</th>
                    <th>Actions</th>
                </thead>
                <tbody class="justify-content-end">
                    <tr *ngFor="let data of cdata">
                        <td>{{ data.category_id }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.position }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.quantity }}</td>
                        <td>
                            <button class="btn btn-info mr-2"><i class="fa fa-pencil-square-o" [routerLink]="['/catalog/editcategory/'+data.category_id]"></i></button>

                            <button id="remove" (click)="deleteRow(data.category_id)" class="btn btn-danger"><i class="fa fa-trash-o fa-lg mx-auto"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="!length">
                        <td colspan="6" class="text-center">
                            No records found.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="justify-content-between row">
                <div class="col">
                    <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="length" [collectionSize]="total" [boundaryLinks]="true" [maxSize]="total">
                    </ngb-pagination>
                </div>

                <div class="col">
                    <select class="form-select btn btn-outline-primary" [(ngModel)]="pageSize" (ngModelChange)="refreshCategories()">
                                        <option [ngValue]="2">2 items per page</option>
                                        <option [ngValue]="4">4 items per page</option>
                                        <option [ngValue]="6">6 items per page</option>
                    </select>
                </div>
            </div>
            <!-- </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div> -->
        </div>
    </div>
</div>