<sb-layout-dashboard>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5">
                    <li ngbNavItem>
                        <ng-template ngbNavContent>
                            <h2 class="mt-3">Categories</h2>

                            <button (click)="onClick()" class="btn btn-primary mb-4 float-right">
                                    Add Category
                                </button>

                            <table class="table table-bordered table-striped">
                                <thead class="head">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Status</th>
                                    <th>Number of Products</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody class="justify-content-end">
                                    <tr *ngFor="let data of cdata">
                                        <td>{{ data.id }}</td>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.position }}</td>
                                        <td>{{ data.status }}</td>
                                        <td>{{ data.numberOfProducts }}</td>
                                        <td>
                                            <button class="btn btn-info"><i class="fa fa-pencil-square-o" [routerLink]="['/catalog/editcategory']"></i></button>

                                            <button id="remove" (click)="deleteRow(data)" class="btn btn-danger"><i class="fa fa-trash-o fa-lg mx-auto"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div>
</sb-layout-dashboard>