<sb-layout-dashboard>
    <!-- <div class="container"> -->

    <div class="col">
        <!-- <ul ngbNav [(activeId)]="activeId" #nav="ngbNav" class="nav-tabs mt-5"> -->
        <!-- <li [ngbNavItem]="1"> -->
        <!-- <a ngbNavLink>Products</a> -->
        <!-- <ng-template ngbNavContent> -->
        <h2 class="mt-3 mb-4">Menu Items</h2>

        <div class="d-flex justify-content-between mb-4 flex-flow">

            <div class="input-group rounded w-25">
                <input class="form-control amber-border" class="form-control" type="text" aria-label="Search"
                    (keyup)="search($event)" placeholder="Search" [(ngModel)]="searchValue">
                <div class="input-group-append">
                    <button class="btn input-group-text bg-white text-dark amber lighten-3 form-control"
                        id="basic-text1"><i class="fa fa-search" aria-hidden="true"
                            (click)="search($event)"></i></button>
                </div>
            </div>

            <div class="float-right">
                <button (click)="generateQrCode()" class="btn btn-primary mr-5">
                    Generate QR Code
                </button>
                <button (click)="onClick()" class="btn btn-primary ">
                    Add Product
                </button>
            </div>

        </div>



        <!-- <table class="table  table-responsive-sm   shadow">
            <thead class="head bg-gradient text-white">
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Position</th>
                <th>Price</th>
                <th>Actions</th>
            </thead>
            <tbody *ngIf="!showloader">
                <tr *ngFor="let data of productData">
                    <td>{{ data.id }}</td>
                    <td>{{ data.product_name }}</td>
                    <td>{{ data.category_name }}</td>
                    <td>{{ data.item_position }}</td>
                    <td>₹{{ data.price?.toFixed(2) }}</td>
                    <td class="d-flex">
                        <button ngbTooltip="Edit" class="btn btn-info rounded-circle shadow mr-1 btn-sm"
                            [routerLink]="['/catalog/editproduct/' + data.id]"><i
                                class="fa-solid fa-square-pen fa-lg"></i></button>

                        <button ngbTooltip="Delete" id="remove" (click)="deleteRow(data.id)"
                            class="btn btn-danger rounded-circle shadow btn-sm"><i
                                class="fa-solid fa-trash-can fa-lg mx-auto"></i></button>
                    </td>
                </tr>



                <tr *ngIf="!length && !showloader">
                    <td colspan="9" class="text-center">
                        No records found.
                    </td>
                </tr>

            </tbody>
        </table> -->
        <!-- <div *ngIf="showloader" class="d-flex justify-content-center pt-5">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"> -->
                <!-- <img src="src\image\Infinity-1s-200px.svg"> -->
                <!-- <span class="sr-only">Loading...</span> -->
            <!-- </div>
        </div>
        <div class="justify-content-between row">
            <div class="col">
                <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="total" [boundaryLinks]="true" [maxSize]="3">
                </ngb-pagination>
            </div>
        </div> -->
        <!-- </ng-template> -->
        <!-- </li> -->
        <!-- <li [ngbNavItem]="2">
                        <a ngbNavLink>Categories</a>
                        <ng-template ngbNavContent>
                            <sb-categories></sb-categories>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>Attributes</a>
                        <ng-template ngbNavContent>
                            <sb-attributes></sb-attributes>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink>Attribute Family</a>
                        <ng-template ngbNavContent>
                            <sb-attribute-family></sb-attribute-family>
                        </ng-template>
                    </li> -->
        <!-- </ul> -->
        <!-- <div [ngbNavOutlet]="nav"></div> -->
<div class="max-w-sm flex flex-col bg-white rounded-lg shadow-lg px-4 py-2 grid-rows-2">
        <h2 class="text-lg mb-0">Category List</h2>
    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="font-weight-bold divide-y ">
        <ngb-panel class="bg-gradient capitalize" title="{{ category.name }}" *ngFor="let category of menuData; let i= index" id="ngb-panel-{{i}}">
            <ng-template ngbPanelContent>
                <div *ngFor="let products of category.products"
                    class="row border p-3 rounded gap-3 mb-2 align-items-center visible">

                    <div class="col d-flex px-0">
                        <div class="col font-weight-bold">
                            <p class="h4 capitalize ">{{ products.product_name }}</p>
                            <p class="h5">₹{{ products.price?.toFixed(2) }}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="category.products.length == 0">
                    No products in this category
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

    </div>
</sb-layout-dashboard>
