<sb-layout-dashboard>
    <div class="card shadow mt-4">
        <h1 class="card-header mb-3 bg-gradient text-white">Edit Order</h1>
        <form [formGroup]="editSaleForm">
            <div class="container-fluid">

                <!-- <h3 class="card-header mb-2">Select Customer</h3> -->
                <!-- <button [hidden]="!showCustomerDetail" class="btn btn-info mb-2" type="button"
                    (click)="openVerticallyCentered(content3)">Select
                    Customer</button> -->
                <div>
                    <h4>Customer Details: </h4>
                    <p>Name: {{ customerName }}</p>
                    <p>Phone number: {{ customerNumber }}</p>
                    <button class="btn btn-info mb-2" type="button" (click)="openVerticallyCentered(content3)"
                        autofocus>Select
                        Another Customer</button>
                </div>

                <ng-template #content3 let-modal>

                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-light">Select Customer</h4>
                        <button type="button" class="btn-light btn-xs" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">X
                        </button>
                    </div>

                    <div class="modal-body">

                        <form [formGroup]="customerForm">
                            <div class="col">
                                <div class="form-group">
                                    <label class="required">Select Customer</label><br />
                                    <ng-select formControlName="customer_id" (search)="searchCustomer($event)"
                                        placeholder="Select Customer">
                                        <ng-option *ngFor="let item of customerData; index as i" value="{{item.id}}">{{
                                            i+1
                                            }}. {{
                                            item.first_name }} {{ item.last_name}}</ng-option>
                                    </ng-select>
                                    <div *ngIf="customer?.touched && customer?.invalid || showCustomerValidation">
                                        <div *ngIf="customer?.errors?.required" class="alert alert-danger">Customer is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer bg-dark">
                        <button type="submit" class="btn btn-sm btn-info" (click)="onSelectCustomer(customerForm)">Add
                            Customer</button>
                    </div>

                </ng-template>
                <div class="row">
                    <div class="col">
                        <h3 class="card-header bg-light shadow">Available Products</h3>

                        <div class="card-deck row mt-2">
                            <div class="col-4 mb-3" *ngFor="let data of productData">


                                <div class="card shadow h-100">
                                    <button class="bg-transparent h-100 border border-dark" type="button"
                                        (click)="openVerticallyCentered(content)">
                                        <div class="card-body">
                                            <h5 class="card-title font-weight-bold">{{ data.product_name }}</h5>
                                            <small class="card-text"><b>Category: </b> {{ data.category_name }}
                                            </small><br>
                                            <small class="card-text" *ngIf="data.description != null"><b>Description:
                                                </b> {{ data.description }}
                                            </small>
                                            <small class="card-text" *ngIf="data.description == null"><b>Description:
                                                </b> None
                                            </small><br>
                                            <small class="card-text"><b>Price: </b> ₹ {{ data.price }}
                                            </small>
                                        </div>
                                        <!-- <div class="align-items-end mb-2 ml-2">
                                        <button class="btn btn-info mr-2 btn-sm"
                                            (click)="openVerticallyCentered2(content2, data.id)"><i
                                                class="fa fa-pencil-square-o fa-lg"></i></button>
        
                                        <button id="remove" class="btn btn-danger btn-sm"
                                            (click)="deleteAddress(data.id)"><i
                                                class="fa fa-trash-o fa-lg mx-auto"></i></button>
                                    </div> -->
                                    </button>
                                </div>

                                <ng-template #content let-modal>

                                    <div class="modal-header bg-primary">
                                        <h4 class="modal-title text-light">Product Quantity</h4>
                                        <button type="button" class="btn-light btn-xs" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')" (click)="qtyClose()">X
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form [formGroup]="qtyForm">

                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="required">Quantity</label>
                                                    <input type="number" formControlName="quantity" min="0" oninput="validity.valid||(value='');" placeholder="Enter Quantity" class="form-control"
                                                        autofocus />
                                                    <div
                                                        *ngIf="quantity?.touched && quantity?.invalid || showValidations">
                                                        <div class="alert alert-danger"
                                                            *ngIf="quantity?.errors?.required">Quantity is required.
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="modal-footer bg-dark">
                                        <button type="submit" class="btn btn-info btn-sm"
                                            (click)="onSelectProduct(data, qtyForm.value)">Save
                                            Order</button>
                                    </div>
                                </ng-template>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <h3 class="card-header mb-2 bg-light shadow">Added Products</h3>

                        <!-- <div class="card-deck row mt-2">
                            <div class="col-5 mb-3" *ngFor="let data of addedProduct"> -->

                        <table class="table table-bordered shadow">
                            <thead class="head bg-dark text-white">
                                <th>Product</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of addedProduct">
                                    <td>{{ data.product_name }}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.quantity }}</td>
                                    <td>₹{{ data.price }}</td>
                                    <td>₹{{ data.quantity * data.price}}</td>
                                    <td>

                                        <button id="remove" ngbTooltip="Delete" class="btn rounded-circle shadow btn-danger btn-sm"
                                            (click)="RemoveProduct(data.id)"><i
                                                class="fa fa-trash-o fa-lg mx-auto"></i></button>
                                    </td>
                                </tr>

                                <tr class="table-sm">
                                    <td colspan="4" class="text-right"><b>Shipping Charges: </b></td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <!-- <input type="number" formControlName="shipping_charge" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-sm" (keyup)="onKey($event)" (change)="onKey($event)"> -->
                                                <input type="number" [(ngModel)]="shipping_charge" class="form-control" min="0" oninput="validity.valid||(value='');" [ngModelOptions]="{standalone: true}"
                                                (change)="onKey($event)">
                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-sm">
                                    <td colspan="4" class="text-right"><b>Total Amount:</b></td>
                                    <td>₹{{ total }}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="form-group required">
                            <label class="required">Order Date</label>
                            <div class="input-group">
                                <input class="form-control amber-border" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                    #d="ngbDatepicker" formControlName="order_date" (dateSelect)="onSelectDate($event)">
                                <div class="input-group-append">
                                    <button class="btn input-group-text bg-white text-dark amber lighten-3" (click)="d.toggle()"
                                        type="button">
                                        <i class="fa fa-calendar fa-lg mx-auto"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group required">
                            <label>Payment Mode</label>
                            <select formControlName="payment_mode" class="form-control">
                                <option *ngFor="let item of payment_mode_array" value="{{item.alternate_name}}">{{
                                    item.name
                                    }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Add a Note</label>
                            <textarea type="text" formControlName="notes" placeholder="Add a note"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <button [disabled]="!editSaleForm.valid" type="submit" (click)="onSubmit(editSaleForm.value)"
                    class="btn btn-primary mb-4 float-right">
                    Update
                </button>

            </div>
        </form>
    </div>
</sb-layout-dashboard>