<sb-layout-dashboard>
    <div class="row">
        <div class="col-8">
            <div class="card mt-4">
                <h1 class="card-header">Add User</h1>
                <form [formGroup]="addUserForm">
                    <div class="container-fluid">
                        <h2 class="card-header mt-4 pb-2">General</h2>
                        <div class="row card-body">

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">First name</label>
                                    <input type="text" formControlName="first_name" class="form-control"
                                        placeholder="Enter First Name" autofocus />

                                    <div *ngIf="firstName?.touched && firstName?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="firstName?.errors?.required">First name
                                            is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Last name</label>
                                    <input type="text" formControlName="lastname" placeholder="Enter Last Name"
                                        class="form-control" />
                                    <div *ngIf="lastName?.touched && lastName?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="lastName?.errors?.required">Last name is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label class="required">Username</label>
                                    <input type="text" formControlName="username" placeholder="Enter Username"
                                        class="form-control" />
                                    <div *ngIf="userName?.touched && userName?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="userName?.errors?.required">Username is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label>Email</label>
                                    <input type="text" formControlName="email" placeholder="Enter Email"
                                        class="form-control" />
                                    <div *ngIf="email?.touched && email?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="email?.errors?.required">Email is
                                            required.</div>
                                        <div class="alert alert-danger"
                                            *ngIf="email?.errors?.email && !email?.errors?.required">Email is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group required">
                                    <label>Phone Number</label>
                                    <input type="tel" formControlName="phone_no" placeholder="Enter Phone Number"
                                        class="form-control" />
                                    <div *ngIf="phone?.touched && phone?.invalid || showValidations">
                                        <div *ngIf="phone?.errors?.required" class="alert alert-danger">Phone number is
                                            required.</div>
                                        <div *ngIf="phone?.errors?.maxlength && !phone?.errors?.pattern" class="alert alert-danger">Phone number
                                            must not exceed 10 digits
                                        </div>
                                        <div *ngIf="phone?.errors?.pattern" class="alert alert-danger">Only Numbers are
                                            allowed</div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <h2 class="card-header pt-2 pb-2">User Avatar</h2>
                        <div class="card-body row">
                            <div class="col-6">
                                <div class="form-group required">
                                    <label for="img">Add Avatar</label><br>
                                    <input type="file" id="img" name="img" accept="image/*"
                                        formControlName="user_avatar" (change)="onChange($event)" />
                                    <div *ngIf="user_avatar?.touched && user_avatar?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="user_avatar?.errors?.required">User
                                            Avatar is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h2 class="card-header pt-4">Password</h2>
                        <div class="card-body row">
                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Password</label>
                                    <input type="password" formControlName="password" placeholder="Enter Password"
                                        class="form-control" />
                                    <div *ngIf="password?.touched && password?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="password?.errors?.required">Password is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Confirm Password</label>
                                    <input placeholder="Confirm Password" type="password"
                                        formControlName="confirm_password" class="form-control" />
                                    <div
                                        *ngIf="confirm_password?.touched && confirm_password?.invalid || showValidations">
                                        <div class="alert alert-danger"
                                            *ngIf="confirm_password?.errors?.required && confirm_password?.invalid">
                                            Confirm Password is required.</div>
                                    </div>
                                    <div class="alert alert-danger"
                                        *ngIf="addUserForm?.errors?.mismatch && !confirm_password?.invalid">
                                        Passwords do not match.
                                    </div>

                                </div>
                            </div>
                        </div>

                        <h2 class="card-header pt-4 pb-2">Status & Outlet</h2>
                        <div class="card-body row">
                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Outlet Name</label><br />

                                    <select name="outlet" formControlName="outlet" class="form-control">
                                        <option *ngFor="let item of outletList" value="{{ item.id }}">{{
                                            item.outlet_name }}</option>
                                    </select>

                                    <div *ngIf="outl?.touched && outl?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="outl?.errors?.required ">Outlet name is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Select User Account Status</label><br />
                                    <select name="status" formControlName="status" class="form-control">
                                        <option *ngFor="let item of status">{{ item }}</option>
                                    </select>
                                    <div *ngIf="stat?.touched && stat?.invalid || showValidations">
                                        <div class="alert alert-danger" *ngIf="stat?.errors?.required">User Account
                                            Status is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button (click)="showValidations = true" type="submit" (click)="onSubmit(addUserForm.value)"
                            class="btn btn-primary mb-4 float-right">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</sb-layout-dashboard>