<sb-layout-dashboard>

    <div class="d-flex justify-content-center">
        <div class="card shadow w-75 mt-2">
            <h1 class="card-header mb-3 text-center ">Add Product</h1>
            <form [formGroup]="addProductForm">

                <div class="container">
                    <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                    <div class="row card-body justify-content-around">

                        <div class="col-6 col-sm-4">
                            <div class="form-group">
                                <label class="required">Name</label><br />
                                <input type="text" formControlName="product_name" class="form-control" />
                                <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
                                    <div *ngIf="name?.errors?.required">Name is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-4">
                            <div class="form-group">
                                <label class="required">Price</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text form-control" id="inputGroup">₹</span>
                                    </div>
                                    <input type="number" formControlName="price" class="form-control" />

                                </div>
                                <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger">
                                    <div *ngIf="price?.errors?.required">Price is required.</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row card-body justify-content-around">
                        <div class="col-6 col-sm-4">

                            <div class="form-group">
                                <label class="required">Category</label>
                                <select name="status" formControlName="category_id" class="form-control">
                                    <option value="default">--Select Category--</option>
                                    <option *ngFor="let item of categoryData" value="{{item.id}}">{{ item.name }}
                                    </option>
                                </select>
                                <div *ngIf="category?.touched && category?.invalid" class="alert alert-danger">
                                    <div *ngIf="category?.errors?.required">Category is required.</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-6 col-sm-4">
                            <div class="form-group">
                                <label class="required">Description</label><br />
                                <input type="text" rows="6" formControlName="description" class="form-control" />
                                <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
                                    <div *ngIf="description?.errors?.required">Description is required.</div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button [disabled]="!addProductForm.valid" class="btn btn-primary mb-4 float-right"
                        (click)="onSubmit(addProductForm.value)">
                        Save Product
                    </button>
                </div>
            </form>
        </div>
    </div>

</sb-layout-dashboard>