<sb-layout-dashboard>

    <div class="d-flex justify-content-center">
        <div class="card shadow mt-2">
            <h3 class="card-header bg-gradient text-white mb-3 text-center ">Add Product</h3>
            <form [formGroup]="addProductForm">

                <div class="container">
                    <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                    <div class="row card-body">

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group required">
                                <label class="required">Name</label><br />
                                <input placeholder="Enter Name" type="text" formControlName="product_name" class="form-control" autofocus/>
                                <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                    <div *ngIf="name?.errors?.required">Name is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group required">
                                <label class="required">Price</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text form-control" id="inputGroup">₹</span>
                                    </div>
                                    <input type="number" placeholder="Enter Price" min="0"
                                    oninput="validity.valid||(value='');" formControlName="price" class="form-control" />
                                </div>
                                <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                    <div *ngIf="price?.errors?.required">Price is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="required">Position</label><br />
                                <input placeholder="Enter Name" type="text" formControlName="item_position" class="form-control"/>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">

                            <div class="form-group required">
                                <label class="required">Category</label>
                                <select name="status" class="form-control" formControlName="category_id" placeholder="Select Category">
                                    <option *ngFor="let item of categoryData" value="{{item.id}}">{{ item.name }}
                                    </option>
                                </select>
                                <div *ngIf="category?.touched && category?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                    <div *ngIf="category?.errors?.required">Category is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="required">Description<span class="text-secondary">(optional)</span></label><br />
                                <textarea type="text" placeholder="Add Description" formControlName="description" class="form-control"></textarea>
                                <!-- <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                    <div *ngIf="description?.errors?.required">Description is required.</div>
                                </div> -->
                            </div>

                        </div>
                    </div>

                    <button class="btn btn-primary mb-4 float-right"
                        (click)="onSubmit(addProductForm.value)">
                        Save Product
                    </button>
                </div>
            </form>
        </div>
    </div>

</sb-layout-dashboard>
