<sb-layout-dashboard>
    <div class="card mt-4">
        <h1 class="card-header">Add Purchase Order</h1>
        <form [formGroup]="addOrderForm">
            <div class="container-fluid">
                <h2 class="card-header mt-4 pb-2">General</h2>
                <div class="row card-body">

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Select Vendor</label>
                            <select name="vendor_id" class="form-control" placeholder="Select Vendor"
                                formControlName="vendor_id" autofocus>

                                <ng-container *ngFor="let list of vendorData">
                                    <option value="{{list.id}}">
                                        {{list.name
                                        }}
                                    </option>
                                </ng-container>
                            </select>
                            <div *ngIf="vendor_id?.touched && vendor_id?.invalid" class="alert alert-danger">
                                <div *ngIf="vendor_id?.errors?.required">Vendor is required.</div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="form-group">
                            <label class="required">Select Outlet</label>
                            <select name="outlet_id" class="form-control" formControlName="outlet_id"
                                placeholder="Select Outlet">

                                <ng-container *ngFor="let list of outletData">
                                    <option value="{{list.id}}">
                                        {{list.outlet_name
                                        }}
                                    </option>
                                </ng-container>
                            </select>
                            <div *ngIf="outlet_id?.touched && outlet_id?.invalid" class="alert alert-danger">
                                <div *ngIf="outlet_id?.errors?.required">Outlet is required.</div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="form-group">
                            <label class="required">Purchase Date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                    #d="ngbDatepicker" formControlName="purchase_date"
                                    (dateSelect)="onSelectDate($event)">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar fa-lg mx-auto"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row card-body">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="required">Add a Note</label>
                            <textarea type="text" formControlName="notes" class="form-control"></textarea>
                            <!-- <div *ngIf="notes?.touched && notes?.invalid" class="alert alert-danger">
                                <div *ngIf="notes?.errors?.required">Note is required.</div>
                            </div> -->
                        </div>
                    </div>
                </div>


                <h2 class="card-header mt-4 pb-2">Item Details</h2>

                <button type="button" class="btn btn-primary mt-4 me-2  mb-4 float-right"
                    (click)="openVerticallyCentered(content)">Add
                    Item</button>

                <ng-template #content let-modal>
                    <form [formGroup]="itemsForm">

                        <div class="modal-header">
                            <h4 class="modal-title">Add Item</h4>
                            <button type="button" class="btn-close btn-sm btn-primary" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">X
                            </button>
                        </div>

                        <div class="modal-body">

                            <div class="row card-body">

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">Select Item Group Name</label>
                                        <select name="item_group_id" formControlName="item_group_id"
                                            (ngModelChange)="onSelectGroup($event)" class="form-control" autofocus
                                            placeholder="Select Item Group Name">

                                            <ng-container *ngFor="let list of itemGroupsData">
                                                <option value="{{ list.id }}">
                                                    {{list.group_name
                                                    }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <div *ngIf="item_group_id?.touched && item_group_id?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="item_group_id?.errors?.required">Item Group name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div > -->

                                    <div [hidden]="!isInputShown" class="col">
                                        <div class="form-group">
                                            <label class="required">Select Item Name</label>
                                            <ng-select name="item_id" formControlName="item_id"
                                                (search)="searchItem($event)" (ngModelChange)="onSelectNameItem($event)"
                                                placeholder="Select Item Name">

                                                <ng-container *ngFor="let list of itemsData">
                                                    <ng-option value="{{ list.id }}">
                                                        {{list.item_name
                                                        }}
                                                    </ng-option>
                                                </ng-container>
                                            </ng-select>
                                            <div *ngIf="item_id?.touched && item_id?.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="item_id?.errors?.required">Item name is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </div> -->

                                <div [hidden]="!isInputShown2">
                                    <div class="row card-body">

                                        <div class="col">
                                            <div class="form-group">
                                                <label class="required">Select Unit Name</label>
                                                <input type="text" formControlName="unit_id" value="{{ unit_name }}" />
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <label class="required">Quantity</label>
                                                <input type="number" formControlName="qty" class="form-control" />
                                                <div *ngIf="qty?.touched && qty?.invalid" class="alert alert-danger">
                                                    <div *ngIf="qty?.errors?.required">Quantity is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div [hidden]="!isInputShown2">

                                    <div class="row card-body">

                                        <div class="col">
                                            <div class="form-group">
                                                <label class="required">Add a Note</label>
                                                <textarea type="text" formControlName="notes"
                                                    class="form-control"></textarea>

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <label class="required">Price</label>
                                                <input type="number" formControlName="price" class="form-control" />
                                                <div *ngIf="price?.touched && price?.invalid"
                                                    class="alert alert-danger">
                                                    <div *ngIf="price?.errors?.required">Price is required.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" [disabled]="!itemsForm.valid" class="btn btn-primary"
                                (click)=" addItemData(itemsForm.value)" (click)="modal.close('Close click')">Save
                                Item</button>
                        </div>
                    </form>

                </ng-template>

                <table class="table table-bordered table-striped">
                    <thead class="head">
                        <th>Item Group</th>
                        <th>Item Name</th>
                        <th>Unit Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                        <th>Actions</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let data of orderItemData">
                            <td>{{ data.item_group_name }}</td>
                            <td>{{ data.item_name }}</td>
                            <td>{{ data.unit_name }}</td>
                            <td>{{ data.qty }}</td>
                            <td>₹{{ data.price }}</td>
                            <td>₹{{ (data.qty * data.price)?.toFixed(2) }}</td>
                            <td>
                                <button ngbTooltip="Edit" class="btn btn-info btn-sm mr-2"
                                    (click)="openVerticallyCentered(content2)" (click)="EditOrderPatchValue(data.item_id)"><i
                                        class="fa fa-pencil-square-o"></i></button>

                                <button id="remove" ngbTooltip="Delete" class="btn btn-danger btn-sm"
                                    (click)="RemoveOrder(data.item_id)"><i
                                        class="fa fa-trash-o mx-auto"></i></button>
                            </td>
                        </tr>

                        <tr class="table-sm">
                            <td colspan="6" class="text-right"><b>Shipping Charges</b></td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="number" formControlName="shipping_charge" class="form-control"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                        (keyup)="onKey($event)">
                                </div>
                            </td>
                        </tr>

                        <tr class="table-sm">
                            <td colspan="6" class="text-right"><b>Total Amount:</b></td>
                            <td>₹{{ total?.toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>

                <button [disabled]="!addOrderForm.valid && !itemsForm.valid" type="submit"
                    (click)="onSubmit(addOrderForm.value)" class="btn btn-primary mb-4 float-right">
                    Submit
                </button>

            </div>

            <ng-template #content2 let-modal>
                <form [formGroup]="editItemsForm">

                    <div class="modal-header">
                        <h4 class="modal-title">Edit Item</h4>
                        <button type="button" class="btn-close btn-sm btn-primary" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">X
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="row card-body">

                            <div class="col">
                                <div class="form-group">
                                    <label class="required">Select Item Group Name</label>
                                    <select name="item_group_id" formControlName="item_group_id"
                                        (ngModelChange)="onSelectGroup($event)" class="form-control" autofocus
                                        placeholder="Select Item Group Name">

                                        <ng-container *ngFor="let list of itemGroupsData">
                                            <option value="{{ list.id }}">
                                                {{list.group_name
                                                }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="item_group_id?.touched && item_group_id?.invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="item_group_id?.errors?.required">Item Group name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div > -->

                                <div [hidden]="!isInputShown" class="col">
                                    <div class="form-group">
                                        <label class="required">Select Item Name</label>
                                        <select name="item_id" formControlName="item_id"
                                            (search)="searchItem($event)" class="form-control" (ngModelChange)="onSelectNameItem($event)"
                                            placeholder="Select Item Name">

                                            <ng-container *ngFor="let list of itemsData">
                                                <option value="{{ list.id }}">
                                                    {{list.item_name
                                                    }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <div *ngIf="item_id?.touched && item_id?.invalid" class="alert alert-danger">
                                            <div *ngIf="item_id?.errors?.required">Item name is required.</div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->

                            <div [hidden]="!isInputShown2">
                                <div class="row card-body">

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="required">Select Unit Name</label>
                                            <input type="text" formControlName="unit_id" value="{{ unit_name }}" />
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="required">Quantity</label>
                                            <input type="number" formControlName="qty" placeholder="Enter Quantity" class="form-control" />
                                            <div *ngIf="qty?.touched && qty?.invalid" class="alert alert-danger">
                                                <div *ngIf="qty?.errors?.required">Quantity is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div [hidden]="!isInputShown2">

                                <div class="row card-body">

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="required">Add a Note</label>
                                            <textarea type="text" formControlName="notes"
                                                class="form-control"></textarea>

                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="required">Price</label>
                                            <input type="number" formControlName="price" class="form-control" />
                                            <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger">
                                                <div *ngIf="price?.errors?.required">Price is required.

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" [disabled]="!editItemsForm.valid" class="btn btn-primary"
                            (click)=" editItemData(editItemsForm.value)" (click)="modal.close('Close click')">Save
                            Item</button>
                    </div>
                </form>

            </ng-template>

        </form>
    </div>
</sb-layout-dashboard>