@import 'styles/variables.scss';
.stats {
    transition: .3s;
    border-radius: 50% !important;
    width: 9rem;
    height: 9rem;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    box-shadow: 0px 0px 11px -7px rgb(0 0 0 / 75%);
    border-color: #dedede !important;
}

.stats:hover {
    box-shadow: 0px 0px 11px -4px rgb(0 0 0 / 75%);
    transform: translate(0, -3px);
}
