<sb-layout-dashboard>
    <div class="card shadow mt-4" (document:keydown.shift.s)="onSubmit(addSaleForm.value)">
        <h3 class="card-header mb-3 bg-gradient text-white py-1 px-2">Add Order</h3>
        <form [formGroup]="addSaleForm">
            <div class="container-fluid">

                <!-- <h3 class="card-header mb-2">Select Customer</h3> -->
                <div class="d-flex">
                    <button [hidden]="showCustomerDetail" class="btn btn-info mb-2 btn-sm" type="button"
                        (click)="openVerticallyCentered(content3)" autofocus>Select
                        Customer</button>
                    <div [hidden]="!showCustomerDetail">
                        <h4>Customer Details: </h4>
                        <p>Name: {{ customerName}}</p>
                        <p>Phone number: {{ customerNumber}}</p>
                        <div class="d-flex">
                            <button class="btn btn-info mb-2 btn-sm" type="button"
                                (click)="openVerticallyCentered(content3)">Select
                                Another Customer</button>
                            <p class="mb-0 mx-2 mt-1">or</p>
                            <button class="btn btn-info mb-2 btn-sm" type="button" (click)="openModal(content4)">Add
                                Customer</button>
                        </div>
                    </div>
                    <p [hidden]="showCustomerDetail" class="mb-0 mx-2 mt-1">or</p>
                    <button [hidden]="showCustomerDetail" class="btn btn-info mb-2 btn-sm" type="button"
                        (click)="openModal(content4)">Add
                        Customer</button>
                </div>

                <ng-template #content3 let-modal>

                    <div class="modal-header bg-primary align-items-center text-light">
                        <h4 class="text-light modal-title">Select Customer</h4>
                        <i type="button" class="fas fa-xmark fa-xl" aria-label="Close"
                            (click)="modal.dismiss('Cross click')" (click)="selectCustomerClose()">
                        </i>
                    </div>

                    <div class="modal-body">

                        <form [formGroup]="customerForm">
                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Select Customer</label><br />

                                    <!-- <ng-select formControlName="customer_id" [items]="customerData.first_name" bindLabel="name" placeholder="Select Customer" [(ngModel)]="selectedCity">
                                    </ng-select> -->
                                    <ng-select formControlName="customer_id" (search)="searchCustomer($event)"
                                        placeholder="Select Customer">
                                        <ng-option class="border" *ngFor="let item of customerData; index as i"
                                            value="{{item.id}}">{{ i+1
                                            }}. {{
                                            item.first_name }} {{ item.last_name}}</ng-option>
                                    </ng-select>
                                    <div *ngIf="customer?.touched && customer?.invalid || showCustomerValidation">
                                        <div *ngIf="customer?.errors?.required" class="alert alert-danger mt-1 py-1 px-3">Customer is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info btn-sm m-0"
                            (click)="onSelectCustomer(customerForm)">Add
                            Customer</button>
                    </div>

                </ng-template>

                <ng-template #content4 let-modal>

                    <div class="modal-header bg-primary align-items-center text-light">
                        <h4 class=" modal-title">Add Customer</h4>
                        <i type="button" class="fas fa-xmark fa-xl" aria-label="Close"
                            (click)="modal.dismiss('Cross click')" (click)="addCustomerClose()">
                        </i>
                    </div>

                    <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmitCustomer(addCustomerForm.value)">
                        <div class="modal-body">
                            <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                            <div class="row">

                                <div class="col-6 col-sm-4">
                                    <div class="form-group required">
                                        <label class="required">First Name</label>
                                        <input type="text" placeholder="First Name" formControlName="first_name"
                                            class="form-control" autofocus />
                                        <div *ngIf="firstname?.touched && firstname?.invalid"
                                            class="alert alert-danger mt-1 py-1 px-3">
                                            <div *ngIf="firstname?.errors?.required">First Name is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-4">
                                    <div class="form-group required">
                                        <label class="required">Last Name</label>
                                        <input type="text" placeholder="Last Name" formControlName="last_name"
                                            class="form-control" />
                                        <!-- <div *ngIf="lastname?.touched && lastname?.invalid" class="alert alert-danger mt-1 py-1 px-3">
                                            <div *ngIf="lastname?.errors?.required">Last Name is required.</div>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-6 col-sm-4">
                                    <div class="form-group required">
                                        <label class="required">Phone Number</label>
                                        <input type="tel" placeholder="Phone Number" formControlName="phone_number"
                                            class="form-control" (keypress)="validateNumber($event)" maxlength="10" />
                                        <div *ngIf="phone?.touched && phone?.invalid" class="alert alert-danger mt-1 py-1 px-3"
                                            maxlength="10">
                                            <div *ngIf="phone?.errors?.required">Phone Number is required.</div>
                                            <div *ngIf="phone?.errors?.maxlength">Phone number must not exceed 10 digits
                                            </div>
                                            <div *ngIf="phone?.errors?.minlength && !phone?.errors?.pattern">Phone
                                                number must contain 10 digits
                                            </div>
                                            <div *ngIf="phone?.errors?.pattern">Only Numbers are allowed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary float-right btn-sm m-0">
                                Submit
                            </button>
                        </div>
                    </form>


                </ng-template>

                <div class="row">
                    <div class="col">
                        <h5 class="p-2">Select Products</h5>

                        <div class=" row mt-2" *ngIf="showProducts">
                            <div class="col-md-12 mb-3 col-12" *ngFor="let data of productData">
                                <div class="h-100">
                                    <!-- <button class="shadow bg-transparent h-100 border border-secondary w-100 rounded"
                                        type="button" (click)="onSelectProduct(data)">
                                        <span class="text-capitalize">{{ data.product_name }}</span>
                                    </button> -->
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <p class="d-flex justify-content-between m-0">
                                                <span class="font-semibold text-xl">{{ data.product_name }}</span> <span
                                                    class="text-right text-xl">₹{{ data.price }}</span>
                                            </p>
                                            <div class="w-1/2 ml-auto">
                                                <div
                                                    class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-2 pb-2">
                                                    <button data-action="decrement"
                                                        (click)="decreaseCount(data.id, data.product_count)"
                                                        class="bg-gradient rounded-l rounded- w-20 rounded cursor-pointer outline-none flex justify-center items-center text-white text-2xl">
                                                        <!-- <span class="text-2xl text-white font-light"></span> -->
                                                        −
                                                    </button>
                                                    <input type="number" disabled
                                                        class="product_quantity border-b border-t  text-center w-full px-0   font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700 "
                                                        name="custom-input-number" min='0'
                                                        value="{{ data.product_count ?? 0 }}" />
                                                    <button data-action="increment"
                                                        (click)="increaseCount(data.id, data.product_count)"
                                                        class="bg-gradient  w-20 rounded-r cursor-pointer outline-none flex justify-center items-center text-white text-2xl">+
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <ng-template #content let-modal>

                                    <div class="modal-header bg-primary align-items-center text-light">
                                        <h4 class=" modal-title">Product Quantity</h4>
                                        <i type="button" class="fas fa-xmark fa-xl" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')" (click)="qtyClose()">
                                        </i>
                                    </div>

                                    <form [formGroup]="qtyForm" (ngSubmit)="onSelectProduct(data, qtyForm.value)">
                                        <div class="modal-body">

                                            <div class="col">
                                                <div class="form-group required">
                                                    <label class="required">Quantity</label>
                                                    <input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="quantity" class="form-control"
                                                        placeholder="Enter Quantity" sbAutoFocus />

                                                    <div
                                                        *ngIf="quantity?.touched && quantity?.invalid || showValidations">
                                                        <div class="alert alert-danger mt-1 py-1 px-3"
                                                            *ngIf="quantity?.errors?.required">Quantity is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer d-flex justify-content-end">
                                            <button type="submit" class="btn btn-info btn-sm">Save
                                                Order</button>
                                        </div>
                                    </form>


                                </ng-template> -->


                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <h5 class="p-2 mb-0">Cart Summary</h5>

                        <!-- <div class="card-deck row mt-2">
                            <div class="col-5 mb-3" *ngFor="let data of addedProduct"> -->
                        <!-- <form [formGroup]="qtyForm"> -->
                        <!-- <table class="table table-responsive-sm table-bordered shadow table-sm">
                            <thead class="head bg-dark text-white">
                                <th>Product</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of addedProduct; let i=index">
                                    <td>{{ data.product_name }}</td>
                                    <td>{{ data.category_name }}</td>
                                    <td>
                                        <input type="number" [(ngModel)]="productQuantity[i]" min="1"
                                            oninput="validity.valid||(value='');" class="form-control"
                                            [ngModelOptions]="{standalone: true}" (input)="qtyChange($event, i)">
                                    </td>
                                    <td>₹{{ data.price }}</td>
                                    <td>₹{{ addedProduct[i].subtotal}}</td>
                                    <td>

                                        <button id="remove" ngbTooltip="Delete" type="button"
                                            class="btn btn-danger rounded-circle shadow btn-sm"
                                            (click)="RemoveProduct(data.id)"><i
                                                class="fa-solid fa-trash-can fa-lg mx-auto"></i></button>
                                    </td>
                                </tr>
                                <tr class="table-sm">
                                    <td colspan="4" class="text-right"><b>Shipping Charges</b></td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="number" [(ngModel)]="shipping_charge" min="0"
                                                oninput="validity.valid||(value='');" class="form-control"
                                                [ngModelOptions]="{standalone: true}" (input)="onKey($event)">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-sm">
                                    <td colspan="4" class="text-right"><b>Total Amount:</b></td>
                                    <td>₹{{ total }}</td>
                                </tr>

                            </tbody>
                        </table> -->
                        <!-- </form> -->

                        <div class="p-2 mb-2">
                            <div *ngFor="let data of addedProduct" class="">
                                <div class="text-lg flex justify-between">
                                    <span>{{ data.product_name }} x{{ data.product_count }}
                                        <span class="text-sm text-red-500"
                                            (click)="removeProduct(data.id)">(remove)</span>
                                    </span>
                                    <span>₹{{ data.subtotal }}</span>
                                </div>
                            </div>
                            <div *ngIf="addedProduct.length == 0">
                                Cart is empty.
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <form [formGroup]="discountForm">
                                    <input type="checkbox" id="discount" formControlName="discount"
                                        (change)="addDiscount(discountForm.value)">
                                    <label class="ml-2 font-weight-bold " for="discount">Add discount</label>
                                </form>
                            </div>

                            <div class="col-md-3 col-6" *ngIf="showDiscountOption">
                                <label>Discount Type</label>
                                <select class="form-control" (change)="getDiscountType($event)">
                                    <option disabled>Select discount type</option>
                                    <option value="percentage">Percentage</option>
                                    <option value="fixed_amount">Fixed amount</option>
                                </select>
                            </div>

                            <div class="col-md-3 col-6" *ngIf="showDiscountOption">
                                <label>Enter Discount</label>
                                <input type="number" [(ngModel)]="discount_amount" min="0"
                                    oninput="validity.valid||(value='');" class="form-control"
                                    [ngModelOptions]="{standalone: true}" (input)="getDiscountAmount($event)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <div class="form-group required">
                                    <label class="required">Order Date</label>
                                    <div class="input-group">
                                        <input class="form-control amber-border" placeholder="yyyy-mm-dd" name="dp"
                                            ngbDatepicker #d="ngbDatepicker" formControlName="order_date"
                                            (dateSelect)="onSelectDate($event)">
                                        <div class="input-group-append">
                                            <button
                                                class="btn input-group-text bg-white text-dark amber lighten-3 form-control"
                                                (click)="d.toggle()" type="button">
                                                <i class="fa fa-calendar fa-lg mx-auto"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-6">
                                <div class="form-group required">
                                    <label>Payment Mode</label>
                                    <select formControlName="payment_mode" class="form-control">
                                        <option *ngFor="let item of payment_mode_copy" value="{{item.alternate_name}}">
                                            {{
                                            item.name
                                            }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label>Table No.</label>
                                    <select formControlName="table_number" class="form-control"
                                        (ngModelChange)="onTableChange($event)">
                                        <option *ngFor="let item of tableList" value="{{item.res_table_number}}">
                                            {{
                                            item.res_table_number
                                            }}</option>
                                        <option *ngIf="tableList.length == 0" disabled selected>All tables are occupied
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="required">Add a Note</label>
                                    <textarea type="text" formControlName="notes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button type="button" class="btn btn-primary mb-4 float-right btn-sm"
                    (click)="onSubmit(addSaleForm.value)">
                    Submit
                </button>

            </div>
        </form>
    </div>
</sb-layout-dashboard>
