<sb-layout-dashboard>
    <div class="card shadow mt-4">
        <h1 class="card-header mb-3">Add Order</h1>
        <form [formGroup]="addSaleForm">
            <div class="container-fluid">

                <!-- <h3 class="card-header mb-2">Select Customer</h3> -->
                <button [hidden]="showCustomerDetail" class="btn btn-info mb-2" type="button"
                    (click)="openVerticallyCentered(content3)" autofocus>Select
                    Customer</button>
                <div [hidden]="!showCustomerDetail">
                    <h4>Customer Details: </h4>
                    <p>Name: {{ customerName}}</p>
                    <p>Phone number: {{ customerNumber}}</p>
                    <button class="btn btn-info mb-2" type="button" (click)="openVerticallyCentered(content3)">Select
                        Another Customer</button>
                </div>

                <ng-template #content3 let-modal>

                    <div class="modal-header">
                        <h4 class="modal-title">Select Customer</h4>
                        <button type="button" class="btn-close btn-primary" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">X
                        </button>
                    </div>

                    <div class="modal-body">

                        <form [formGroup]="customerForm">
                            <div class="col">
                                <div class="form-group">
                                    <label class="required">Select Customer</label><br />

                                    <!-- <ng-select formControlName="customer_id" [items]="customerData.first_name" bindLabel="name" placeholder="Select Customer" [(ngModel)]="selectedCity">
                                    </ng-select> -->
                                    <ng-select formControlName="customer_id" (search)="search($event)"
                                        placeholder="Select Customer">
                                        <ng-option class="border" *ngFor="let item of customerData; index as i"
                                            value="{{item.id}}">{{ i+1
                                            }}. {{
                                            item.first_name }} {{ item.last_name}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" (click)="onSelectCustomer(customerForm)"
                            (click)="modal.close('Close click')">Add
                            Customer</button>
                    </div>

                </ng-template>
                <div class="row">
                    <div class="col">
                        <h3 class="card-header">Available Products</h3>

                        <div class="card-deck row mt-2">
                            <div class="col-5 mb-3" *ngFor="let data of productData">


                                <div class="card shadow h-100">
                                    <button class="bg-transparent h-100 border border-info" type="button"
                                        (click)="openVerticallyCentered(content)">
                                        <div class="card-body">
                                            <h5 class="card-title text-info">{{ data.product_name }}</h5>
                                            <small class="card-text"><b>Category: </b> {{ data.category_name }}
                                            </small><br>
                                            <small class="card-text"><b>Description: </b> {{ data.description }}
                                            </small><br>
                                            <small class="card-text"><b>Price: </b> ₹ {{ data.price }}
                                            </small>
                                        </div>

                                    </button>
                                </div>

                                <ng-template #content let-modal>

                                    <div class="modal-header">
                                        <h4 class="modal-title">Product Quantity</h4>
                                        <button type="button" class="btn-close btn-primary" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">X
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form [formGroup]="qtyForm">

                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="required">Quantity</label>
                                                    <input type="number" formControlName="quantity" class="form-control"
                                                        autofocus />

                                                    <!-- <div *ngIf="unit_id?.touched && unit_id?.invalid" class="alert alert-danger">
                                                        <div *ngIf="unit_id?.errors?.required">Unit is required.</div>
                                                    </div> -->
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary"
                                            (click)="onSelectProduct(data, qtyForm.value)"
                                            (click)="modal.close('Close click')">Save
                                            Order</button>
                                    </div>

                                </ng-template>



                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <h3 class="card-header mb-2">Added Products</h3>

                        <!-- <div class="card-deck row mt-2">
                            <div class="col-5 mb-3" *ngFor="let data of addedProduct"> -->

                        <table class="table table-bordered table-striped">
                            <thead class="head">
                                <th>Product</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of addedProduct">
                                    <td>{{ data.product_name }}</td>
                                    <td>{{ data.category_name }}</td>
                                    <td>{{ data.quantity }}</td>
                                    <td>₹{{ data.price }}</td>
                                    <td>{{ data.quantity * data.price}}</td>
                                    <td>

                                        <button id="remove" class="btn btn-danger btn-sm"
                                            (click)="RemoveProduct(data.id)"><i
                                                class="fa fa-trash-o fa-lg mx-auto"></i></button>
                                    </td>
                                </tr>

                                <tr class="table-sm">
                                    <td colspan="5" class="text-right"><b>Shipping Charges</b></td>
                                    <td>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="number" formControlName="shipping_charge" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-sm" (keyup)="onKey($event)">
                                        </div>
                                    </td>
                                </tr>

                                <tr class="table-sm">
                                    <td colspan="5" class="text-right"><b>Total Amount:</b></td>
                                    <td>₹{{ total }}</td>
                                </tr>

                            </tbody>
                        </table>

                        <!-- <div class="card shadow">
                                    <button class="bg-transparent" type="button">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ data.product_name }}</h5>
                                            <p class="card-text"><b>Category:</b> {{ data.category_name }}
                                            </p>
                                            <p class="card-text"><b>Description:</b> {{ data.description }}
                                            </p>
                                            <p class="card-text"><b>₹ Price:</b> {{ data.price }}
                                            </p>
                                            <p class="card-text"><b>Quantity:</b> {{ data.quantity }}
                                            </p>
                                        </div> -->
                        <!-- <div class="align-items-end mb-2 ml-2">
                                        <button class="btn btn-info mr-2 btn-sm"
                                            (click)="openVerticallyCentered2(content2, data.id)"><i
                                                class="fa fa-pencil-square-o fa-lg"></i></button>
        
                                        <button id="remove" class="btn btn-danger btn-sm"
                                            (click)="deleteAddress(data.id)"><i
                                                class="fa fa-trash-o fa-lg mx-auto"></i></button>
                                    </div> -->
                        <!-- </button>
                                </div>
                            </div> -->

                        <!-- </div> -->
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Purchase Date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                    #d="ngbDatepicker" formControlName="order_date"
                                    (dateSelect)="onSelectDate($event)">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar fa-lg mx-auto"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label>Payment Mode</label>
                        <select formControlName="payment_mode" class="form-control">
                            <option *ngFor="let item of payment_mode_copy" value="{{item.alternate_name}}">{{ item.name
                                }}</option>
                        </select>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Add a Note</label>
                            <textarea type="text" formControlName="notes" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <button [disabled]="!addSaleForm.valid" type="submit" (click)="onSubmit(addSaleForm.value)"
                    class="btn btn-primary mb-4 float-right">
                    Submit
                </button>

            </div>
        </form>
    </div>
</sb-layout-dashboard>