<div class="text-dark">
    <a class="nav-link text-slate-50 text " [routerLink]="sideNavItem.link" (click)="expanded = !expanded"
        [ngClass]="{'active': sideNavItem.text == path, collapsed: !expanded}">
        <div class="sb-nav-link-icon text-slate-50" *ngIf="sideNavItem.icon">
            <!-- <fa-icon [icon]='["fas", sideNavItem.icon]'></fa-icon> -->
            <i class="fa-solid fa-{{ sideNavItem.icon }}"></i>
        </div>
        {{sideNavItem.text}}
        <div class="sb-sidenav-collapse-arrow">
            <i *ngIf="sideNavItem.submenu" class="fa-solid fa-angles-down ml-auto"></i>
        </div>
    </a>
    <nav class="sb-sidenav-menu-nested nav" *ngIf="sideNavItem.submenu &amp;&amp; expanded">
        <sb-side-nav-item class="submenu" *ngFor="let submenuItem of sideNavItem.submenu" [sideNavItem]="submenuItem">
        </sb-side-nav-item>
    </nav>
</div>
