@import 'styles/variables.scss';

.active {
    background-color: black;
    -webkit-box-shadow: inset 0px 0px 2px 1px rgb(107 107 107);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(107, 107, 107, 1);
    box-shadow: inset 0px 0px 2px 1px rgb(107 107 107);
}

@media (max-width: 2000px) {
    .text {
        font-size: 0.75rem !important;
        line-height: 1rem !important;
    }
    
  }
@media (min-width: 1900px) {
      .text {
          font-size: 1rem !important;
          line-height: 1.5rem !important;
      }

}