@import 'styles/variables.scss';

.active {
    background-color: black;
    -webkit-box-shadow: inset 0px 0px 2px 1px rgb(107 107 107);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(107, 107, 107, 1);
    box-shadow: inset 0px 0px 2px 1px rgb(107 107 107);
}