<h2 class="mt-3 mb-4">POS Outlet List</h2>

<div class="row d-flex justify-content-between">
    <div class="col-md-6 mb-4">

        <div class="input-group w-50">
            <input class="form-control amber-border" class="form-control" type="text" aria-label="Search"
                (keyup)="search($event)" placeholder="Search" [(ngModel)]="searchValue">
            <div class="input-group-append">
                <button class="btn input-group-text amber lighten-3" id="basic-text1"><i class="fa fa-search"
                        aria-hidden="true" (click)="search($event)"></i></button>
            </div>
        </div>

    </div>
    <div>
        <button [routerLink]="['/pos/addoutlet']" class="btn btn-primary mb-4 float-right">
            Add Outlet
        </button>
    </div>
</div>

<table class="table table-bordered table-striped shadow">
    <thead class="head">
        <th>Outlet Id</th>
        <th>Outlet Name</th>
        <th>Inventory source</th>
        <th>Created at</th>
        <th>Status</th>
        <th>Actions</th>
    </thead>
    <tbody *ngIf="!showloader">
        <tr *ngFor="let data of outletData">
            <td>{{ data.id }}</td>
            <td>{{ data.outlet_name }}</td>
            <td>{{ data.inventory_source }}</td>
            <td>{{ data.created_at | date: 'dd/MM/yyyy' }}</td>
            <td>{{ data.status }}</td>
            <td>
                <button ngbTooltip="Edit" class="btn btn-info mr-2"
                    [routerLink]="['/pos/edit/editoutlet/' + data.id]"><i
                        class="fa fa-pencil-square-o fa-lg"></i></button>

                <button ngbTooltip="Delete" id="remove" (click)="deleteRow(data.id)" class="btn btn-danger"><i
                        class="fa fa-trash fa-lg mx-auto "></i></button>
            </td>
        </tr>
        <tr *ngIf="!length && !showloader">
            <td colspan="6" class="text-center">
                No records found.
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="showloader" class="d-flex justify-content-center pt-5">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <!-- <img src="src\image\Infinity-1s-200px.svg"> -->
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="justify-content-between row">

    <div class="col">

        <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="length" [collectionSize]="total"
            [boundaryLinks]="true" [maxSize]="total">
        </ngb-pagination>

    </div>
</div>