<sb-layout-dashboard>

    <div class="card mt-4 shadow">
        <h1 class="card-header mb-3">Edit Product</h1>
        <form [formGroup]="editProductForm">

            <div class="container-fluid">
                <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                <div class="row">
                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required mt-4">SKU</label>
                            <input type="text" formControlName="sku" class="form-control" />
                            <div *ngIf="sku?.touched && sku?.invalid" class="alert alert-danger">
                                <div *ngIf="sku?.errors?.required">SKU is required.</div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Name</label><br />
                            <input type="text" formControlName="name" class="form-control" />
                            <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
                                <div *ngIf="name?.errors?.required">Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required">Quantity</label>
                            <input type="text" formControlName="quantity" class="form-control" />
                            <div *ngIf="qty?.touched && qty?.invalid" class="alert alert-danger">
                                <div *ngIf="qty?.errors?.required">Quantity is required.</div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Price</label>
                            <div class="input-group">


                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup">₹</span>
                                </div>
                                <input type="text" formControlName="price" class="form-control" />
                                <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger">
                                    <div *ngIf="price?.errors?.required">Price is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required mt-4">URL Key</label>
                            <input type="text" rows="6" formControlName="urlKey" class="form-control" />
                            <div *ngIf="urlKey?.touched && urlKey?.invalid" class="alert alert-danger">
                                <div *ngIf="urlKey?.errors?.required">
                                    URL Key is required.
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required mt-4">Tax Category</label><br />
                            <select name="status" formControlName="taxCategory" class="form-control">
                                <option value="default"></option>
                                <option *ngFor="let item of taxCategory">{{ item }}</option>
                            </select>
                        </div>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="required">Category</label>
                            <select name="status" formControlName="category" class="form-control">
                                <option value="default">--Select Category--</option>
                                <option *ngFor="let item of categoryData">{{ item.name }}
                                </option>
                            </select>
                            <div *ngIf="category?.touched && category?.invalid" class="alert alert-danger">
                                <div *ngIf="category?.errors?.required">Category is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Description</label><br />
                            <input type="text" rows="6" formControlName="description" class="form-control" />
                            <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
                                <div *ngIf="description?.errors?.required">description is required.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row card-body">
                    <div class="col">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="new">
                                <label class="custom-control-label" for="customSwitch1">New</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2" formControlName="featured">
                                <label class="custom-control-label" for="customSwitch2">Featured</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" formControlName="visibleIndividually">
                                <label class="custom-control-label" for="customSwitch3">Visible Individually</label>
                                <div *ngIf="visibleIndividually?.touched && visibleIndividually?.invalid" class="alert alert-danger">
                                    <div *ngIf="visibleIndividually?.errors?.required">
                                        Visible Individually is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4"
                                    formControlName="status">
                                <label class="custom-control-label" for="customSwitch4">Status</label>
                                <div *ngIf="status?.touched && status?.invalid" class="alert alert-danger">
                                    <div *ngIf="status?.errors?.required">
                                        Status is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="row card-body"> -->
                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required">Color</label>
                            <select name="status" formControlName="color" class="form-control">
                                <option value="default">--Select Color--</option>
                                <option *ngFor="let item of color">{{ item }}</option>
                            </select>
                        </div>
                    </div> -->

                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required">Size</label>
                            <select name="status" formControlName="size" class="form-control">
                                <option value="default">--Select Size--</option>
                                <option *ngFor="let item of size">{{ item }}</option>
                            </select>
                        </div>
                    </div> -->

                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required">Brand</label>
                            <select name="status" formControlName="brand" class="form-control">
                                <option value="default">--Select Brand--</option>
                                <option *ngFor="let item of brand">{{ item }}</option>
                            </select>
                        </div>
                    </div> -->
                <!-- </div> -->

                <!-- <h2 class="card-header">Description</h2>
                <div class="row card-body">
                    <div class="col">
                        <div class="form-group">
                            <label class="required">Short Description</label>
                            <input type="text" formControlName="shortDescription" class="form-control" />
                            <div *ngIf="shortDescription?.touched && shortDescription?.invalid" class="alert alert-danger">
                                <div *ngIf="shortDescription?.errors?.required">Short description is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Description</label>
                            <input type="text" formControlName="description" class="form-control" />
                            <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
                                <div *ngIf="description?.errors?.required">Description is required.</div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <h2 class="card-header">Booking Information</h2> -->
                <!-- <div class="row card-body"> -->
                    <!-- <div class="col">
                        <div class="form-group">
                            <label class="required">Type</label>
                            <select name="status" formControlName="product_type" class="form-control">
                                <option value="default">--Select type--</option>
                                <option *ngFor="let item of type">{{ item }}</option>
                            </select>
                            <div *ngIf="typ?.touched && typ?.invalid" class="alert alert-danger">
                                <div *ngIf="typ?.errors?.required">Type is required.</div>
                            </div>
                        </div>
                    </div> -->


                <!-- </div> -->

                <button [disabled]="!editProductForm.valid" type="submit" class="btn btn-primary mb-4 float-right"
                    (click)="updateData(editProductForm.value)">
                    Save Product
                </button>
            </div>
        </form>
    </div>

</sb-layout-dashboard>