<sb-layout-dashboard>

    <div class="d-flex justify-content-center">

        <div class="card shadow mt-2">
            <h3 class="card-header bg-gradient text-white mb-3">Edit Product</h3>
            <form [formGroup]="editProductForm">

                <div class="container justify-content-between">
                    <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                    <div class="row  card-body">

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group required">
                                <label class="required">Name</label><br />
                                <input type="text" placeholder="Enter Name" formControlName="product_name"
                                    class="form-control" autofocus />
                                <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
                                    <div *ngIf="name?.errors?.required">Name is required.</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group required">
                                <label class="required">Price</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text form-control" id="inputGroup">₹</span>
                                    </div>
                                    <input type="number" placeholder="Enter Price" min="0"
                                        oninput="validity.valid||(value='');" formControlName="price"
                                        class="form-control" />

                                </div>
                                <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger">
                                    <div *ngIf="price?.errors?.required">Price is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="required">Position</label><br />
                                <input placeholder="Enter Name" type="text" formControlName="item_position"
                                    class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group required">
                                <label class="required">Category</label>
                                <select name="status" formControlName="category_id" class="form-control">
                                    <option *ngFor="let item of categoryData" value="{{item.id}}">{{ item.name }}
                                    </option>
                                </select>
                                <div *ngIf="category?.touched && category?.invalid" class="alert alert-danger">
                                    <div *ngIf="category?.errors?.required">Category is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="required">Description<span
                                        class="text-secondary">(optional)</span></label><br />
                                <textarea type="text" placeholder="Add Description" formControlName="description"
                                    class="form-control"></textarea>
                                <!-- <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
                                    <div *ngIf="description?.errors?.required">Description is required.</div>
                                </div> -->
                            </div>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-4 float-right"
                        (click)="updateData(editProductForm.value)">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</sb-layout-dashboard>
