<sb-layout-dashboard>
    <div class="card mt-4">
        <h1 class="card-header">Edit Customer</h1>
        <form [formGroup]="editCustomerForm">
            <div class="container-fluid">
                <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                <div class="row card-body">

                    <div class="col">
                        <div class="form-group">
                            <label class="required">First Name</label>
                            <input type="text" formControlName="firstname" class="form-control" />
                            <div *ngIf="firstname?.touched && firstname?.invalid" class="alert alert-danger">
                                <div *ngIf="firstname?.errors?.required">First Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Last Name</label>
                            <input type="text" formControlName="lastname" class="form-control" />
                            <div *ngIf="lastname?.touched && lastname?.invalid" class="alert alert-danger">
                                <div *ngIf="lastname?.errors?.required">Item Group Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Phone Number</label>
                            <input type="text" formControlName="phone" class="form-control" />
                            <div *ngIf="phone?.touched && phone?.invalid" class="alert alert-danger">
                                <div *ngIf="phone?.errors?.required">Phone Number is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Email(optional)</label>
                            <input type="text" formControlName="email" class="form-control" />
                        </div>
                    </div>

                    
                </div>

                <h2 class="card-header mt-4 mb-3 pb-2">Addresses</h2>
                <div class="row car-body">

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Home Address</label>
                            <input type="text" formControlName="homeaddress" class="form-control" />
                            <div *ngIf="homeAddress?.touched && homeAddress?.invalid" class="alert alert-danger">
                                <div *ngIf="homeAddress?.errors?.required">Home Address is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Office Address</label>
                            <input type="text" formControlName="officeAddress" class="form-control" />
                            <div *ngIf="officeAddress?.touched && officeAddress?.invalid" class="alert alert-danger">
                                <div *ngIf="officeAddress?.errors?.required">Office Address is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Other Address(optional)</label>
                            <input type="text" formControlName="officeAddress" class="form-control" />
                        </div>
                    </div>

                </div>

                <button [disabled]="!editCustomerForm.valid" type="submit" (click)="onSubmit(editCustomerForm.value)"
                    class="btn btn-primary mb-4 float-right">
                    Submit
                </button>

            </div>
        </form>
    </div>
</sb-layout-dashboard>
