<sb-layout-dashboard>
    <div class="card shadow mt-4">
        <h3 class="card-header bg-gradient text-white">Edit Customer</h3>
        <form [formGroup]="editCustomerForm">
            <div class="container-fluid">
                <!-- <h2 class="card-header mt-4 pb-2">General</h2> -->
                <div class="row card-body">

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group required">
                            <label class="required">First Name</label>
                            <input type="text" placeholder="Enter First Name" formControlName="first_name"
                                class="form-control" autofocus />
                            <div *ngIf="firstname?.touched && firstname?.invalid" class="alert alert-danger">
                                <div *ngIf="firstname?.errors?.required">First Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="required">Last Name</label>
                            <input type="text" placeholder="Enter Last Name" formControlName="last_name"
                                class="form-control" />
                            <!-- <div *ngIf="lastname?.touched && lastname?.invalid" class="alert alert-danger">
                                <div *ngIf="lastname?.errors?.required">Last Name is required.</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group required">
                            <label class="required">Phone Number</label>
                            <input type="text" placeholder="Enter Phone Number" formControlName="phone_number"
                                class="form-control" (keypress)="validateNumber($event)" maxlength="10"/>
                            <div *ngIf="phone?.touched && phone?.invalid" class="alert alert-danger">
                                <div *ngIf="phone?.errors?.required">Phone Number is required.</div>
                                <div *ngIf="phone?.errors?.maxlength && !phone?.errors?.pattern">Phone number must not
                                    exceed 10 digits</div>
                                <div *ngIf="phone?.errors?.minlength">Phone number must contain 10 digits
                                </div>
                                <div *ngIf="phone?.errors?.pattern">Only Numbers are allowed</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="required">Email<span class="text-secondary"> (optional)</span></label>
                            <input type="text" placeholder="Enter Email" formControlName="email" class="form-control" />
                        </div>
                    </div>

                </div>

                <h4 class="card-header mt-4 mb-3 pb-2">Address</h4>

                <div class="d-flex flex-row-reverse mb-3">
                    <button type="button" class="btn btn-primary" (click)="openVerticallyCentered(content)">
                        Add Address
                    </button>
                </div>

                <ng-template #content let-modal>

                    <div class="modal-header align-items-center bg-primary">
                        <h4 class="modal-title text-white">Add Address</h4>
                        <button type="button" class="btn-xs btn-light" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">X
                        </button>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="addressForm">

                            <div class="row">

                                <div class="col justify-content-center">
                                    <div class="form-group required">
                                        <label class="required">Address Type</label>
                                        <select name="address_type" formControlName="address_type" class="form-control"
                                            autofocus>

                                            <ng-container *ngFor="let list of address_type_name">
                                                <option value="{{ list.id }}">
                                                    {{ list.name }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <div *ngIf="address_type?.touched && address_type?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="address_type?.errors?.required">Address type is required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Address line 1</label>
                                        <input type="text" formControlName="address_line_1" class="form-control"
                                            placeholder="House no./name" />
                                        <div *ngIf="address_line_1?.touched && address_line_1?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="address_line_1?.errors?.required">Address Line 1 is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Address line 2</label>
                                        <input type="text" formControlName="address_line_2" class="form-control"
                                            placeholder="Street name/number" />
                                        <div *ngIf="address_line_2?.touched && address_line_2?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="address_line_2?.errors?.required">Address Line 2 is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Country</label>
                                        <input type="text" formControlName="contry" class="form-control"
                                            placeholder="Country" (keypress)="validateAlphabet($event)" />
                                        <div *ngIf="contry?.touched && contry?.invalid" class="alert alert-danger">
                                            <div *ngIf="contry?.errors?.required">Country is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Landmark</label>
                                        <input type="text" formControlName="landmark" class="form-control"
                                            placeholder="Landmark(optional)" />
                                         <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                        <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                    </div>
                                    </div>
                                </div> -->

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">State</label>
                                        <input type="text" formControlName="state" class="form-control"
                                            placeholder="State" (keypress)="validateAlphabet($event)" />
                                        <div *ngIf="state?.touched && state?.invalid" class="alert alert-danger">
                                            <div *ngIf="state?.errors?.required">State is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">City</label>
                                        <input type="text" formControlName="city" class="form-control"
                                            placeholder="City" (keypress)="validateAlphabet($event)" />
                                        <div *ngIf="city?.touched && city?.invalid" class="alert alert-danger">
                                            <div *ngIf="city?.errors?.required">City is required.</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Landmark</label>
                                        <input type="text" formControlName="address_line_3" class="form-control"
                                            placeholder="Landmark" />
                                        <!-- <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                        <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                    </div> -->
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Pin Code</label>
                                        <input type="text" formControlName="postalcode" class="form-control"
                                            placeholder="Pin code" (keypress)="validateNumber($event)" maxlength="6"/>
                                        <div *ngIf="postalcode?.touched && postalcode?.invalid">
                                            <div *ngIf="postalcode?.errors?.required" class="alert alert-danger">Pin
                                                code is required.</div>
                                            <div *ngIf="postalcode?.errors?.minlength" class="alert alert-danger">
                                                Pin code
                                                must contain atleast 5 digits.
                                            </div>
                                            <div *ngIf="postalcode?.errors?.maxlength" class="alert alert-danger">
                                                Pin code
                                                must not exceed 6 digits.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Latitude</label>
                                        <input type="text" formControlName="latitude" class="form-control"
                                            placeholder="Latitude" />
                                        <!-- <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                        <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                    </div> -->
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Longitude</label>
                                        <input type="text" formControlName="longitude" class="form-control"
                                            placeholder="Longitude" />
                                        <!-- <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                        <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                    </div> -->
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>

                    <div class="modal-footer bg-dark">
                        <button type="submit" class="btn btn-info" (click)=" addAddress(addressForm.value)">Save
                            Address</button>
                    </div>

                </ng-template>


                <div class="mt-auto text-center" *ngIf="customerAddressData.length == 0">
                    <p class="alert alert-success">No Address Added.</p>
                </div>

                <div class="mt-auto" *ngIf="customerAddressData.length != 0">
                    <ng-container *ngFor="let item of address_type_name">
                        <!-- <div class=""> -->
                        <h3 *ngIf="item.addresses.length != 0" class="card-header mb-2">{{ item.name }}</h3>
                        <!-- </div> -->
                        <div class="card-deck row">
                            <div class="col-4 mb-3" *ngFor="let data of item.addresses">

                                <div class="card shadow">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold">{{ data.address_line_1 }}</h5>
                                        <p class="card-text">{{ data.address_line_2 }}
                                        </p>
                                        <p class="card-text">{{ data.address_line_3 }}
                                        </p>
                                        <p class="card-text">{{ data.landmark }}
                                        </p>
                                        <p class="card-text">{{ data.city }}, {{ data.state }}, {{ data.contry }} -
                                            {{
                                            data.postalcode }}
                                        </p>

                                    </div>

                                    <div class="mb-2 mr-3 ml-2 text-right">
                                        <button class="btn btn-info btn-sm mr-2 btn-sm" ngbTooltip="Edit"
                                            (click)="openVerticallyCentered2(content2, data.id)"><i
                                                class="fa-solid fa-square-pen fa-lg"></i></button>

                                        <button id="remove" class="btn btn-sm btn-danger btn-sm" ngbTooltip="Delete"
                                            (click)="deleteAddress(data.id)"><i
                                                class="fa-solid fa-trash-can fa-lg mx-auto"></i></button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </ng-container>
                </div>

                <!-- Edit Customer Address Form -->

                <ng-template #content2 let-modal>
                    <div class="modal-header align-items-center bg-primary">
                        <h4 class="modal-title text-white">Edit Address</h4>
                        <button type="button" class="btn-close btn-xs btn-light" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">X
                        </button>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="editAddressForm">

                            <div class="col">
                                <div class="form-group required">
                                    <label class="required">Address Type</label>
                                    <select name="address_type" formControlName="address_type" class="form-control"
                                        autofocus>

                                        <ng-container *ngFor="let list of address_type_name">
                                            <option value="{{list.id}}">
                                                {{ list.name }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="addressType_edit?.touched && addressType_edit?.invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="addressType_edit?.errors?.required">Address type is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Address line 1</label>
                                        <input type="text" formControlName="address_line_1" class="form-control"
                                            placeholder="House no./name" />
                                        <div *ngIf="address_line_1_edit?.touched && address_line_1_edit?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="address_line_1_edit?.errors?.required">Address Line 1 is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Address line 2</label>
                                        <input type="text" formControlName="address_line_2" class="form-control"
                                            placeholder="Street name/number" />
                                        <div *ngIf="address_line_2_edit?.touched && address_line_2_edit?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="address_line_2_edit?.errors?.required">Address Line 2 is
                                                required.</div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Country</label>
                                        <input type="text" formControlName="contry" class="form-control"
                                            placeholder="Country" (keypress)="validateAlphabet($event)" />
                                        <div *ngIf="contry_edit?.touched && contry_edit?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="contry_edit?.errors?.required">Country is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Landmark</label>
                                        <input type="text" formControlName="landmark" class="form-control"
                                            placeholder="Landmark(optional)" />
                                         <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                    <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                </div>
                                    </div>
                                </div> -->


                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">State</label>
                                        <input type="text" formControlName="state" class="form-control"
                                            placeholder="State" (keypress)="validateAlphabet($event)" />
                                        <div *ngIf="state_edit?.touched && state_edit?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="state_edit?.errors?.required">State is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">City</label>
                                        <input type="text" formControlName="city" class="form-control"
                                            placeholder="City" (keypress)="validateAlphabet($event)" />
                                        <div *ngIf="city_edit?.touched && city_edit?.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="city_edit?.errors?.required">City is required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Landmark</label>
                                        <input type="text" formControlName="address_line_3" class="form-control"
                                            placeholder="Landmark" />
                                        <!-- <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                    <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                </div> -->
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group required">
                                        <label class="required mt-4">Pin code</label>
                                        <input type="text" formControlName="postalcode" class="form-control"
                                            placeholder="Pin code" (keypress)="validateNumber($event)" maxlength="6"/>
                                        <div *ngIf="postalcode_edit?.touched && postalcode_edit?.invalid">
                                            <div *ngIf="postalcode_edit?.errors?.required" class="alert alert-danger">
                                                Pin Code is required.</div>
                                            <div *ngIf="postalcode_edit?.errors?.minlength" class="alert alert-danger">
                                                Pin code
                                                must contain atleast 5 digits.
                                            </div>
                                            <div *ngIf="postalcode_edit?.errors?.maxlength" class="alert alert-danger">
                                                Pin code
                                                must not exceed 6 digits.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Latitude</label>
                                        <input type="text" formControlName="latitude" class="form-control"
                                            placeholder="Latitude" />
                                        <!-- <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                    <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                </div> -->
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required mt-4">Longitude</label>
                                        <input type="text" formControlName="longitude" class="form-control"
                                            placeholder="Longitude" />
                                        <!-- <div *ngIf="address_line_1?.touched && address_line_1?.invalid" class="alert alert-danger">
                                    <div *ngIf="address_line_1?.errors?.required">Group Name is required.</div>
                                </div> -->
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="modal-footer bg-dark">
                        <button type="submit" class="btn btn-info"
                            (click)="editAddress(editAddressForm.value)">Update
                            Address</button>
                    </div>
                </ng-template>

                <!-- <div class="row car-body">

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Home Address</label>
                            <input type="text" formControlName="home_address" class="form-control" />
                            <div *ngIf="homeAddress?.touched && homeAddress?.invalid" class="alert alert-danger">
                                <div *ngIf="homeAddress?.errors?.required">Home Address is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Office Address</label>
                            <input type="text" formControlName="office_address" class="form-control" />
                            <div *ngIf="officeAddress?.touched && officeAddress?.invalid" class="alert alert-danger">
                                <div *ngIf="officeAddress?.errors?.required">Office Address is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="required">Other Address(optional)</label>
                            <input type="text" formControlName="other_address" class="form-control" />
                        </div>
                    </div>

                </div> -->

                <button [disabled]="!editCustomerForm.valid" type="submit" (click)="onSubmit(editCustomerForm.value)"
                    class="btn btn-primary mb-4 float-right align-items-end">
                    Update
                </button>

            </div>
        </form>
    </div>
</sb-layout-dashboard>
