<div class="d-flex justify-content-around">
    <div class="">
        <sb-card-view-details link="/catalog/products" background="bg-white">
            <div class="card-body card-content card-container py-3 f-20">
                <div>
                    <p class="mb-0">Total Products</p>
                    <p class="mb-0 h4 text-success">{{ totalProducts }}</p>
                </div>
            </div>

        </sb-card-view-details>
    </div>
    <div class="">
        <sb-card-view-details link="/catalog/categories" background="bg-white">
            <div class="card-body card-content card-container py-3 f-20">
                <div>
                    <p class="mb-0">Total Categories</p>
                    <p class="mb-0 h4 text-success">{{ totalCategories }}</p>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="">
        <sb-card-view-details link="/reports/expense_by_group" background="bg-white">
            <div class="card-body card-content card-container py-3 f-20">
                <div>
                    <p class="mb-0">Total expense</p>
                    <p class="mb-0 h4 text-success">₹{{ expenses| number:'.2' }}</p>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="">
        <sb-card-view-details link="/sales/sales" background="bg-white">
            <div class="card-body card-content card-container py-3 f-20">
                <div>
                    <p class="mb-0">Total Orders</p>
                    <p class="mb-0 h4 text-success">{{ orders }}</p>
                </div>
            </div>
        </sb-card-view-details>
    </div>

    <div class="">
        <sb-card-view-details link="/customer_management/customer_management" background="bg-white">
            <div class="card-body card-content card-container py-3 f-20">
                <div>
                    <p class="mb-0">Total Customers</p>
                    <p class="mb-0 h4 text-success">{{ customers }}</p>
                </div>
            </div>

        </sb-card-view-details>
    </div>
    <div class="">
        <sb-card-view-details link="/customer_management/customer_management" background="bg-white">
            <div class="card-body card-content card-container py-3 f-20">
                <div>
                    <p class="mb-0">Repeat Customers</p>
                    <p class="mb-0 h4 text-success">{{ repeatCustomers }}</p>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="">
        <sb-card-view-details link="/customer_management/customer_management" background="bg-white">
            <div class="card-body card-content card-container py-3 px-1 f-20">
                <div>
                    <p class="mb-2">Profit</p>
                    <p class="mb-0 h4 text-success">₹{{ profit| number:'.2' }}<i class="fa-solid fa-arrow-up ml-1"></i></p>
                </div>
            </div>
        </sb-card-view-details>
    </div>
</div>
