<div class="row">
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/catalog/products" background="bg-light">
            <div class="card-body card-container py-3">Total Products
                <p class="mb-0 h4 text-success">10</p>
            </div>

        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/catalog/categories" background="bg-light">
            <div class="card-body card-container py-3">Total Categories
                <p class="mb-0 h4 text-success">10</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/sales/sales" background="bg-light">
            <div class="card-body card-container py-3">Total Orders
                <p class="mb-0 h4 text-success">10</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/reports/expense_by_group" background="bg-light">
            <div class="card-body card-container py-3">Total expense
                <p class="mb-0 h4 text-success">₹10.00</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/customer_management/customer_management" background="bg-light">
            <div class="card-body card-container py-3">Total Customers
                <p class="mb-0 h4 text-success">10</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/customer_management/customer_management" background="bg-light">
            <div class="card-body card-container py-3">Repeat Customers
                <p class="mb-0 h4 text-success">10</p>
            </div>
        </sb-card-view-details>
    </div>
</div>
